@media only screen and (max-width: 479px) {
	.logo {
		width: 170px;
		height: 89px;
		top: 14px;
		margin-left: -85px;
	}
	.burger:not(.close_btn) {
		top: 24px;
		left: 24px;
	}
	.footer form {
		height: 260px;
		margin: 46px 0 0;
	}
	.footer input {
		margin: 12px 0;
	}
	.footer input[type="submit"] {
		width: 100%;
	}
	.footer .col-md-3.col-md-pull-3.col-sm-4 {
		padding-bottom: 14px;
	}
}
@media (min-width: 480px) and (max-width: 767px) {
	.logo {
		width: 184px;
		height: 96px;
		top: 10px;
		margin-left: -92px;
	}
	.burger:not(.close_btn) {
		top: 32px;
		left: 32px;
	}
	.footer .col-ms-6 {
		z-index: 1;
	}
	.footer form {
		height: 180px;
		margin: 54px 0 0;
	}
	.footer input[type="text"] {
		float: right;
	}
	.footer input[type="submit"] {
		position: relative;
		width: 200px;
		left: 50%;
		margin: 22px 0 0 -100px;
	}
	.footer .col-md-3.col-md-pull-3.col-sm-4 {
		padding-bottom: 50px;
	}
}
@media only screen and (max-width: 767px) {
	.footer h6 {
		margin: 18px 0 14px;
	}
	.footer li {
		padding: 12px 0;
	}
	.footer .col-md-3.col-md-pull-3.col-sm-4:not(:last-of-type):after {
		content: "";
		position: absolute;
		left: 16px;
		bottom: 0;
		right: 16px;
		height: 1px;
		background-color: #4e5250;
	}
}
@media only screen and (min-width: 768px) {
	.logo {
		width: 210px;
		height: 110px;
		top: 20px;
		margin-left: -105px;
	}
	.burger:not(.close_btn) {
		top: 35px;
		left: 44px;
	}
	.footer input[type="submit"] {
		width: 100%;
	}
	.footer ul {
		margin-bottom: 55px
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.footer form {
		height: 130px;
		margin: 54px 0 0;
	}
	.footer h6 {
		margin: 40px 0 12px;
	}
	.footer li {
		padding: 12px 0;
	}
}
@media only screen and (max-width: 991px) {
	body {
		overflow: hidden;
	}
	.content {
		position: relative;
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
	}
	.header {
		background-color: #0d1516;
	}
	.header .container {
		
		width: 0;
		
		height: 100%;
		padding: 82px 0 0;
		overflow-x: hidden;
		overflow-y: scroll;
		display: none;
	}
	.header ul {
		font-family: "OpenSansLight", sans-serif;
	}
	.header ul li {
		padding: 11px 0;
	}
	.header ul a,
	.header ul span {
		font-size: 24px;
		line-height: 38px;
		letter-spacing: 0.8px;
		color: #ffffff;
		padding: 0 16px 0 42px;
	}
	.header ul span {
		cursor: default;
	}
	.header ul li ul {
		border-top: 1px solid #a98d73;
		padding: 8px 0 0;
	}
	.header ul li ul li {
		padding: 16px 0;
	}
	.header ul li ul a,
	.header ul li ul span {
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.3px;
	}
	.header ul li ul a {
		color: #a98d73;
	}
	.header ul li ul span {
		color: #695441;
	}
	.footer form:after {
		content: "";
		position: absolute;
		left: 16px;
		bottom: 0;
		right: 16px;
		height: 1px;
		background-color: #4e5250;
	}
}
@media only screen and (min-width: 992px) {
	body {
		overflow-x: hidden;
		overflow-y: scroll;
	}
	.content {
		overflow: hidden;
	}
	.header {
		width: 100%;
	}
	.burger {
		display: none;
	}
	.header .container {
		position: relative;
		max-width: 1368px;
	}
	.header ul {
		position: absolute;
		cursor: default;
	}
	.header ul li {
		position: relative;
		display: inline-block;
		line-height: 33px;
		margin: 0 15px;
	}
	.header li span,
	.header li a {
		position: relative;
		display: inline-block;
		width: 100%;
		color: #000000;
	}
	.header ul:first-of-type {
		top: 43px;
		left: 4.3%;
		font-family: "OpenSansSemiBold", sans-serif;
		letter-spacing: 0.4px;
	}
	.header ul:last-of-type {
		top: 41px;
		right: 5.7%;
		font-family: "OpenSansRegular", sans-serif;
		letter-spacing: 0.35px;
	}
	.header ul:first-of-type li {
		text-transform: uppercase;
		font-size: 12px;
	}
	.header ul:last-of-type li {
		font-size: 14px;
	}
	.header .container ul li ul {
		top: 0;
		left: -36px;
		padding: 35px 0 0;
		width: 216px;
		display: none;
	}
	.header ul li ul:before {
		content: "";
		border-width: 6px;
		border-style: solid;
		border-color: transparent transparent #af865b transparent;
		position: absolute;
		top: 23px;
		left: 60px;
	}
	.header ul li ul li {
		background-color: rgba(238,238,238,0.2);
		margin: 0;
		width: 100%;
	}
	.header ul li ul li span,
	.header ul li ul li a {
		font-family: "OpenSansLight", sans-serif;
		font-size: 14px;
		text-transform: none;
		letter-spacing: 0.36px;
		padding: 3px 0 3px 30px;
	}
	.header ul li ul li a {
		-webkit-transition: all .3s ease-in-out;
		-moz-transition: all .3s ease-in-out;
		-o-transition: all .3s ease-in-out;
		-ms-transition: all .3s ease-in-out;
		transition: all .3s ease-in-out;
	}
	.header ul li ul li a:hover {
		text-decoration: none;
		background-color: #af865b;
		color: #ffffff;
	}
	.header ul li ul li span {
		color: #af865b;
	}
	.header ul li ul li:first-child {
		border-top: 1px solid #af865b;
	}
	.header ul li ul li:last-child {
		border-bottom: 1px solid #af865b;
	}
	.row.reorder-md {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
		direction: rtl;
	}
	.row.reorder-md .col-xs-12 {
		-webkit-transform: rotate(-180deg);
		-moz-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
		transform: rotate(-180deg);
		direction: ltr;
	}
	.footer form {
		margin: 50px 0;
	}
	.footer input {
		margin: 11px 0;
	}
	.footer h6 {
		margin: 55px 0 18px;
	}
	.footer li {
		padding: 6px 0;
	}
}