/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* for mobile header */
/* line 82, ../assets/scss/partials/elements/_helpers.scss */
.btn {
  display: inline-block;
  color: #fff;
  background: #000;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
  font-weight: bold;
  padding: 10px;
  min-width: 125px;
  text-align: center;
  box-sizing: content-box;
  text-decoration: none;
  border-radius: 3px;
}
/* line 96, ../assets/scss/partials/elements/_helpers.scss */
.btn.btn-blue {
  background: #17baf1;
}
/* line 99, ../assets/scss/partials/elements/_helpers.scss */
.btn.btn-green {
  background: #71b100;
}
/* line 102, ../assets/scss/partials/elements/_helpers.scss */
.btn:hover {
  opacity: 0.8;
}

/* line 10, ../assets/scss/partials/elements/_base.scss */
*, *::after, *::before {
  box-sizing: border-box;
  transition: all 0.4s ease 0s;
}

/* line 2, ../assets/scss/partials/elements/_base.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

/* line 17, ../assets/scss/partials/elements/_base.scss */
html {
  font-size: 14px;
  line-height: 1.2;
}

/* line 21, ../assets/scss/partials/elements/_base.scss */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  min-width: 320px;
}

/* line 26, ../assets/scss/partials/elements/_base.scss */
.container {
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto;
}
/* line 2, ../assets/scss/partials/elements/_base.scss */
.container:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
@media screen and (max-width: 1169px) {
  /* line 26, ../assets/scss/partials/elements/_base.scss */
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* line 37, ../assets/scss/partials/elements/_base.scss */
.titleBlock {
  text-align: center;
  padding-top: 50px;
}
@media screen and (max-width: 640px) {
  /* line 37, ../assets/scss/partials/elements/_base.scss */
  .titleBlock {
    padding-top: 30px;
  }
}
/* line 45, ../assets/scss/partials/elements/_base.scss */
.titleBlock .title-icon {
  display: inline-block;
  position: relative;
}
/* line 48, ../assets/scss/partials/elements/_base.scss */
.titleBlock .title-icon .icon-logo {
  /**/
  display: none;
}
@media (max-width: 420px) {
  /* line 62, ../assets/scss/partials/elements/_base.scss */
  .titleBlock .title-icon .icon-logo object {
    width: 35px;
  }
}
/* line 69, ../assets/scss/partials/elements/_base.scss */
.titleBlock .title-icon h2 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
}
@media screen and (max-width: 1169px) {
  /* line 69, ../assets/scss/partials/elements/_base.scss */
  .titleBlock .title-icon h2 {
    font-size: 21px;
  }
}
@media screen and (max-width: 640px) {
  /* line 69, ../assets/scss/partials/elements/_base.scss */
  .titleBlock .title-icon h2 {
    font-size: 16.8px;
  }
}
/* line 80, ../assets/scss/partials/elements/_base.scss */
.titleBlock .title-icon h2:before {
  background: transparent url("../images/logo-little.png") no-repeat scroll;
  background-position: center center;
  background-size: cover;
  height: 45px;
  width: 57px;
  position: absolute;
  top: -30px;
  left: -30px;
  content: '';
}
@media screen and (max-width: 1169px) {
  /* line 80, ../assets/scss/partials/elements/_base.scss */
  .titleBlock .title-icon h2:before {
    height: 37px;
    width: 47px;
    top: -25px;
    left: -25px;
  }
}
@media screen and (max-width: 640px) {
  /* line 80, ../assets/scss/partials/elements/_base.scss */
  .titleBlock .title-icon h2:before {
    height: 27px;
    width: 37px;
    top: -20px;
    left: -20px;
  }
}

/**
 * Form elements.
 */
