// Colors.
$color-white: #ffffff;
$color-black: #000000;
$color-brown: #614f43;
$color-grey: #eeeeee;
$color-grey-shadow: #e2e2e2;
$color-grey-dark:  #313131;
$color-grey-table:  #e5e5e5;
$color-grey-desc:  #a9a9a9;
$color-grey-form:  #7c7c7c;
$color-grey-light:  #8e8a8a;
$color-grey-line:  #dedede;
$color-grey-bord:  #575757;
$color-grey-opacity:  #f9f3f4;
$color-peach: #e09f8b;
$color-peach-light: #f6c1a2;
$color-peach-dark: #b4634f;
$color-purple: #984089;
$color-red: #eb5449;
$color-green: #34b787;
$color-yellow: #dc8115;
$color-yellow-dark: #af865b;


@mixin linear-gradient-border{
  -moz-border-image: -moz-linear-gradient(left, rgba(224,159,139,1) 0%, rgba(180,99,79,1) 100%);
  -webkit-border-image: -webkit-linear-gradient(left, rgba(224,159,139,1) 0%,rgba(180,99,79,1) 100%);
  border-image:  linear-gradient(to right, rgba(224,159,139,1) 0%,rgba(180,99,79,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e09f8b', endColorstr='#b4634f',GradientType=1 );
  border-image-slice: 1;
}

@mixin linear-gradient-border-back{
  -moz-border-image: -moz-linear-gradient(left, rgba(180,99,79,1) 0%, rgba(224,159,139,1) 100%);
  -webkit-border-image: -webkit-linear-gradient(left, rgba(180,99,79,1) 0%,rgba(224,159,139,1) 100%);
  border-image:  linear-gradient(to right, rgba(180,99,79,1) 0%,rgba(224,159,139,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4634f', endColorstr='#e09f8b',GradientType=1 );
  border-image-slice: 1;
}

@mixin linear-gradient{
  background: rgb(224,159,139);
  background: -moz-linear-gradient(left, rgba(224,159,139,1) 0%, rgba(180,99,79,1) 100%);
  background: -webkit-linear-gradient(left, rgba(224,159,139,1) 0%,rgba(180,99,79,1) 100%);
  background: linear-gradient(to right, rgba(224,159,139,1) 0%,rgba(180,99,79,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e09f8b', endColorstr='#b4634f',GradientType=1 );
}
@mixin linear-gradient-back{
  background: rgb(180,99,79);
  background: -moz-linear-gradient(left, rgba(180,99,79,1) 0%, rgba(224,159,139,1) 100%);
  background: -webkit-linear-gradient(left, rgba(180,99,79,1) 0%,rgba(224,159,139,1) 100%);
  background: linear-gradient(to right, rgba(180,99,79,1) 0%,rgba(224,159,139,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4634f', endColorstr='#e09f8b',GradientType=1 );
}