.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-btn-up {
  font-size:(50/10)*1rem;
  //width:(50/50)*1em;
  width: 54px;
  height: 54px;
}
.icon-next {
  font-size:(49/10)*1rem;
  width:(49/49)*1em;
}
.icon-previous {
  font-size:(49/10)*1rem;
  width:(49/49)*1em;
}
.icon-scroll-bot {
  font-size:(49/10)*1rem;
  //width:(49/49)*1em;
  width: 53px;
  height: 53px;
}
.icon-search {
  font-size:(21.333/10)*1rem;
  width:(21.333/21.333)*1em;
}
