html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	/*position: absolute;*/
	width: 100%;
	height: 100%;
	background-color: #eeeeee;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* for product*/
/*
.header {
	position: absolute;
	z-index: 10000;
}
.header .container {
	width: 100%;
}
.logo {
	display: block;
	position: absolute;
	left: 50%;
	z-index: 10000;
}
a.logo {
	background-image: url(img/logo.svg);
	background-size: 100% 100%;
}
.burger {
	position: fixed;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 20000;
}
*/
.burger:not(.close_btn) {
	background-mage: url(img/burger.png);
	background-repeat: no-repeat;
	background-position: 0 7px;
}
.burger.close_btn {
	top: 32px;
	left: 32px;
	background-mage: url(img/close.png);
	background-repeat: no-repeat;
	background-position: 6px 6px;
	-webkit-transition: all .3s ease-in-ot;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.burger.close_btn:hover {
	opacity: 0.4;
}
.burger_menu_top {
	position: fixed;
	top: 0;
	height: 82px;
	background-color: #0d1516;
}
.footer {
	background-color: #080b0c;
	background-image: url(img/bg-bottom.png);
	background-repeat: no-repeat;
	border-bottom: 4px solid #0f1516;
	text-align: center;
	cursor: default;
}
.footer .container-fluid {
	padding-bottom: 40px;
}
.footer .container {
	width: 100%;
	max-width: 992px;
	text-align: left;
}
.footer h6 {
	font-family: "OpenSansLight", sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 0.75px;
	line-height: 24px;
	color: #e09f8b;
}
.footer li {
	font-family: "OpenSansLight", sans-serif;
	font-size: 14px;
	letter-spacing: 0.01px;
	line-height: 24px;
	color: rgba(0,0,255,0.9);
	color: #695441;
}
.footer li a {
	color: #ffffff;
}
.footer input[type="text"],
.footer input[type="password"] {
	background-color: transparent;
	border: 1px solid #eeeeee;
	font-family: "OpenSansLightItalic", sans-serif;
	font-size: 12px;
	color: #eeeeee;
	width: 100%;
	line-height: normal;
	letter-spacing: 0.01px;
	padding: 16px 12px;
}
.footer input[type="text"]:focus::-webkit-input-placeholder { color:transparent; }
.footer input[type="text"]:focus:-moz-placeholder { color:transparent; }
.footer input[type="text"]:focus::-moz-placeholder { color:transparent; }
.footer input[type="text"]:focus:-ms-input-placeholder { color:transparent; }
.footer input[type="password"]:focus::-webkit-input-placeholder { color:transparent; }
.footer input[type="password"]:focus:-moz-placeholder { color:transparent; }
.footer input[type="password"]:focus::-moz-placeholder { color:transparent; }
.footer input[type="password"]:focus:-ms-input-placeholder { color:transparent; }
.footer input[type="submit"] {
	background-color: transparent;
	border-left: 1px solid #e09f8b;
	border-right: 1px solid #b4634f;
	border-top: none;
	border-bottom: none;
	background-image: -webkit-gradient(linear, left, right, from(#e09f8b), to(#b4634f)), -webkit-gradient(linear, left, right, from(#e09f8b), to(#b4634f));
	background-image: -webkit-linear-gradient(left, #e09f8b, #b4634f), -webkit-linear-gradient(left, #e09f8b, #b4634f);
	background-image: -moz-linear-gradient(right, #e09f8b, #b4634f), -moz-linear-gradient(right, #e09f8b, #b4634f);
	background-image: -o-linear-gradient(right, #e09f8b, #b4634f), -o-linear-gradient(right, #e09f8b, #b4634f);
	background-image: linear-gradient(to right, #e09f8b, #b4634f), linear-gradient(to right, #e09f8b, #b4634f);
	background-size: 100% 1px;
	background-position: 0 0, 100% 100%;
	background-repeat: no-repeat;
	font-family: "OpenSansRegular", sans-serif;
	font-size: 16px;
	color: #e09f8b;
	line-height: normal;
	letter-spacing: 0.1px;
	padding: 13px 12px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.footer input[type="submit"]:hover {
	background-color: #c47965;
	color: #eeeeee;
}
.footer input:focus {
	outline: none;
}
.footer .row.reorder-md .col-xs-12:first-child {
	padding: 0;
}
.footer .row.reorder-md .col-xs-12:first-child a {
	background-color: #de9d89;
	display: inline-block;
	width: 100%;
	font-family: "OpenSansRegular", sans-serif;
	font-size: 16px;
	color: #0b0e0d;
	line-height: 24px;
	letter-spacing: 0.8px;
	padding: 14px;
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.footer .row.reorder-md .col-xs-12:first-child a:hover {
	background-color: #c47965;
}
.footer .row.reorder-md .col-xs-12:last-child {
	padding: 0 4.8%;
}