<div id="header-block"  class="header-block header-blog-yawanawa-block" style="background-image :url('{{ 'blog-all-header.jpg' | asset_url | img_tag }}')">
  <div class="title-block">
    <h1 class="site-label">Dennis’ Journey to the Yawanawa Indians</h1>
    <p class="title-description">blog</p>
  </div>
</div>
<div class="menu-block">
  <div class="container">
    <div class="row">
      <ul class="menu">
        <li class="item-menu"><a href="#">Articles and Teachings</a></li>
        <li class="item-menu"><a href="#">Newsletters</a></li>
        <li class="item-menu"><a href="#">Sacred Stories</a></li>
        <li class="item-menu"><a href="#">Yawanawá</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="">
  {% if tags.current == 'yawanawa_disabled' %}
  {% include "marquee_blog_yawanawa" %}
  {% else %}
  {% include "marquee_blog" %}
  {% endif %}
  {% include "blog_listings" %}
</div>
