.header{
  ul{
    li{
      a{
        @include transition(all, 0.5s);
        &.active,&.active span,&:hover,&:focus{
          text-decoration: underline;
          color: $color-yellow-dark;
        }
      }
    }
  }
}
.footer{
  ul{
    li{
      a{
        @include transition(all, 0.5s);
        &.active,&.active span,&:hover,&:focus{
          text-decoration: underline;
          color: $color-yellow-dark;
        }
      }
    }
  }
}