.header-category-block{
  .section--product_hero{
    height: 100vh;
    width: 100%;
    display: table;
    background: rgba(0,0,0,.3);
    .container{
      vertical-align: middle;
      display: table-cell;
      h1{
        font-family: $font-open-sans;
        color:  $color-white;
        font-size: 4.8*$font-size;
        line-height: $line-height;
        font-weight: 600;
        max-width: 700px;
        margin: 0 auto;
        text-transform: uppercase;
        @include tablet{
          font-size: 6.5*$font-size;
        }
        @include phone{
          font-size: 4.5*$font-size;
        }
        @include small-phone{
          font-size: 3.5*$font-size;
        }
      }
    }
  }
}
