.product-category{
  &.header {
    .logo{
      top: 0;
      width: auto;
    }
    @media only screen and (max-width: 991px) {
    .container {
        width: auto;
        height: 100%;
        padding: 0;
        overflow-x: scroll;
        overflow-y: scroll;
        display: block;
      }
    }
  }
  //@media only screen and (max-width: 991px) {
  //  .header {
  //    .container {
  //      width: auto;
  //      height: 100%;
  //      padding: 0;
  //      overflow-x: scroll;
  //      overflow-y: scroll;
  //      display: block;
  //    }
  //  }
  //}

.header {
	position: absolute;
	z-index: 10000;
}
.header .container {
	width: 100%;
}
.logo {
	display: block;
	position: absolute;
	left: 50%;
	z-index: 10000;
}
a.logo {
	background-image: url(img/logo.svg);
	background-size: 100% 100%;
}
.burger {
	position: fixed;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 20000;
}


.hero-background{
  .panel__block{
    margin: 3.5rem 0;
  }
  h1{
    font-family: $font-open-sans;
    color:  $color-white;
    font-size: 4.8*$font-size;
    line-height: $line-height;
    font-weight: 600;
    max-width: 700px;
    margin: 0 auto;
    text-transform: uppercase;
    @include tablet{
      font-size: 6.5*$font-size;
    }
    @include phone{
      font-size: 4.5*$font-size;
    }
    @include small-phone{
      font-size: 3.5*$font-size;
    }
  }
}
}

