.header-yawa-retreat-block{
  //background-image: url('../img/yawa-retreat-header.jpg');
  .title-block{
    .site-label{
      font-family: $font-open-sans;
      color:  $color-white;
      font-size: 7.8*$font-size;
      line-height: $line-height;
      font-weight: 700;
      max-width: 700px;
      margin: 0 auto;
      text-transform: uppercase;
      letter-spacing: 3px;
      @include tablet{
        font-size: 6.5*$font-size;
      }
      @include phone{
        font-size: 4.5*$font-size;
      }
      @include small-phone{
        font-size: 3.5*$font-size;
      }
    }
    .title-description{
      font-family: $font-open-sans;
      color: $color-black;
      text-transform: uppercase;
      font-size: 3*$font-size;
      font-weight: 700;
      padding-top: 35px;
      letter-spacing: 2px;
      @include tablet{
        font-size: 2.6*$font-size;
      }
      @include phone{
        font-size: 2.2*$font-size;
      }
    }
  }
}
.sentence-yawa-block{
  text-align: center;
  background-color: $color-grey;
  padding-top: 50px;
  //padding-bottom: 65px;
  padding-bottom: 75px;
  position: relative;
  .title-block{
    @include tablet{
      @include padding-screen;
    }
    .title{
      color: $color-purple;
      text-transform: uppercase;
      font-size: 3*$font-size;
      font-weight: 600;
      @include tablet{font-size: 2.7*$font-size;}
      @include phone{font-size: 2.4*$font-size;}
      @include small-phone{font-size: 2.1*$font-size;}

    }
    .desc{
      //padding-top: 20px;
      padding-top: 45px;
      color: $color-black;
      font-size: 1.7*$font-size;
      line-height: 1.5*$line-height;
      font-weight: 600;
      letter-spacing: 0.5px;
      @include tablet{font-size: 1.4*$font-size;}
      @include phone{font-size: 1.3*$font-size;}
      p{
        padding-bottom: 30px;
      }
    }
  }
  .line-label{
    //margin-bottom: 20px;
    &:before{
      background: $color-grey-line;
      background-position: center center;
      height: 1px;
      width: 100%;
      content: '';
      position: absolute;
      display: inline-block;
      left: 0;
      top: 10px
    }
    .label{
      background-color: $color-grey;
      color: $color-black;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1.2*$font-size;
      padding: 0 50px;
      display: inline-block;
      z-index: 50;
      position: relative;
    }
  }
  .price-block{
    position: relative;
    padding-bottom: 27px;
      margin-top: 50px;
    .price{
      color: $color-grey-light;
      text-transform: uppercase;
      //padding-top: 30px;
      padding-top: 27px;
      .big{
        font-size: 4*$font-size;
        padding-right: 10px;
        @include tablet{font-size: 3.7*$font-size;}
        @include phone{font-size: 3.4*$font-size;}
        @include small-phone{font-size: 3.1*$font-size;}
      }
      .down-payment{
        display: inline-block;
        max-width: 180px;
        text-align: left;
        margin-left: 10px;
        font-weight: 600;
        @include phone{
          font-size: 1.4*$font-size;
          padding-top: 10px;
          text-align: center;
        }
      }
    }
  }
  .dates-block{
    position: relative;
    .termes-block{
      //padding-top: 30px;
      padding-top: 40px;
      .termes{
        max-width: 320px;
        padding: 0 50px;
        display: inline-block;
        .dates{
          width: 100%;
          display: inline-block;
          font-size: 2*$font-size;
        }
        .desc{
          width: 100%;
          display: inline-block;
          font-size: 1.5*$font-size;
          padding-top: 10px;
        }
        .desc-red{
          color: $color-red;
          @include phone{
            padding-bottom: 20px;
          }
        }
      }
    }
  }
  //.title-block{
  //  @include tablet{
  //    @include padding-screen;
  //  }
  //  .title{
  //    color: $color-purple;
  //    font-weight: 600;
  //    text-transform: uppercase;
  //    font-size: 2.8*$font-size;
  //    @include tablet{font-size: 2.7*$font-size;}
  //    @include phone{font-size: 2.4*$font-size;}
  //    @include small-phone{font-size: 2.1*$font-size;}
  //  }
  //  .desc{
  //    padding-top: 44px;
  //    color: $color-black;
  //    font-size: 1.7*$font-size;
  //    line-height: 1.4*$line-height;
  //    font-weight: 600;
  //    @include tablet{font-size: 1.4*$font-size;}
  //    @include phone{font-size: 1.3*$font-size;}
  //    //@include small-phone{font-size: 2.1*$font-size;}
  //    p{
  //      padding-bottom: 30px;
  //    }
  //  }
  //}
  //.line-label{
  //  //margin-bottom: 20px;
  //  &:before{
  //    background: $color-grey-line;
  //    background-position: center center;
  //    height: 1px;
  //    width: 100%;
  //    content: '';
  //    position: absolute;
  //    display: inline-block;
  //    left: 0;
  //    top: 10px
  //  }
  //  .label{
  //    background-color: $color-grey;
  //    color: $color-black;
  //    text-transform: uppercase;
  //    font-weight: 400;
  //    font-size: 1.2*$font-size;
  //    padding: 0 50px;
  //    display: inline-block;
  //    z-index: 50;
  //    position: relative;
  //  }
  //}
  //.price-block{
  //  margin-top: 50px;
  //  position: relative;
  //  padding-bottom: 20px;
  //  .price{
  //    color: $color-grey-light;
  //    text-transform: uppercase;
  //    padding-top: 30px;
  //    .big{
  //      font-size: 4*$font-size;
  //      @include tablet{font-size: 3.7*$font-size;}
  //      @include phone{font-size: 3.4*$font-size;}
  //      @include small-phone{font-size: 3.1*$font-size;}
  //    }
  //    .down-payment{
  //      display: inline-block;
  //      max-width: 180px;
  //      text-align: left;
  //      margin-left: 10px;
  //      font-weight: 600;
  //      //@include tablet{font-size: 2.7*$font-size;}
  //      @include phone{
  //        font-size: 1.4*$font-size;
  //        padding-top: 10px;
  //        text-align: center;
  //      }
  //      //@include small-phone{font-size: 2.1*$font-size;}
  //    }
  //  }
  //}
  //.dates-block{
  //  position: relative;
  //  margin-top: 20px;
  //  .termes-block{
  //    padding-top: 30px;
  //    .termes{
  //      max-width: 320px;
  //      padding: 0 50px;
  //      display: inline-block;
  //      .dates{
  //        width: 100%;
  //        display: inline-block;
  //        font-size: 2*$font-size;
  //      }
  //      .desc{
  //        width: 100%;
  //        display: inline-block;
  //        font-size: 1.5*$font-size;
  //        padding-top: 10px;
  //      }
  //    }
  //  }
  //}
  .yawanawa-form{
    max-width: 430px;
    margin: 0 auto;
    .desc-red{
      padding: 40px 20px 44px;
      color: $color-red;
      font-size: 1.8*$font-size;
      line-height: 1.1*$line-height;
      font-weight: 600;
    }
    .form-item-pair{
      .form-item{
        input{
          text-transform: uppercase;
        }
      }
    }
    .link-more{
      color: $color-white;
      @include linear-gradient;
      border: 0 none;
      &:hover{
        @include linear-gradient-back;
        opacity: 1;
        //@include transition(background 0.2s)
      }
    }
  }
}
.recommended-yawa-block{
  padding: 70px 50px;
  background: transparent url('../img/recommended-you-block-bg.jpg') no-repeat scroll;
  background-size: cover;
  background-position: bottom center;
  min-height: 720px;
  position: relative;
  //@include tablet{font-size: 3.7*$font-size;}
  @include phone{padding: 20px 20px;
    min-height: 400px;}
  @include small-phone{padding: 10px 0;}
  .container-bg{
    background-color: rgba($color-grey-opacity, 0.75);
  }
  .content-block{
    text-align: center;
    //padding: 110px 50px;
    padding: 120px 50px 145px;
    width: 100%;
    height: 100%;
    //@include tablet{font-size: 3.7*$font-size;}
    @include phone{padding: 20px 20px;}
    //@include small-phone{font-size: 3.1*$font-size;}
    .title{
      color: $color-purple;
      font-size: 3*$font-size;
      font-weight: 700;
      @include tablet{font-size: 2.7*$font-size;}
      @include phone{font-size: 2.4*$font-size;}
      @include small-phone{font-size: 2.1*$font-size;}
    }
    .desc{
      padding-top: 47px;
      color: $color-black;
      font-size: 1.8*$font-size;
      line-height: 1.7*$line-height;
      font-weight: 600;
      //max-width: 650px;
      max-width: 700px;
      margin: 0 auto;
      //@include tablet{font-size: 1.4*$font-size;}
      @include phone{font-size: 1.4*$font-size;
      line-height: 1.4*$line-height}
      //@include small-phone{font-size: 2.1*$font-size;}
      p{
        padding-bottom: 18px;
      }
    }
  }

}
.description-yawa-block{
  background-color: $color-grey;
  min-height: 650px;
  .content-block{
    //background-color: rgba($color-white, 0.5);
    text-align: center;
    margin: 0 auto;
    max-width: 910px;
    padding-top: 195px;
    padding-bottom: 195px;
    @include tablet{
      @include padding-screen;
    }
    .title-block{
      color: $color-purple;
      //text-transform: uppercase;
      font-size: 2.4*$font-size;
      line-height: 1.3*$line-height;
      font-weight: 600;
    }
    .desc{
      //padding-top: 60px;
      padding-top: 35px;
      color: $color-black;
      font-size: 1.8*$font-size;
      line-height: 1.7*$line-height;
      //font-weight: 600;
      p{
        padding-bottom: 30px;
      }
    }
  }
}
.ready-start-yawa-block{
  background: transparent url('../img/ready-start-yawa-block-bg.jpg') no-repeat scroll;
  background-size: cover;
  background-position: bottom center;
  min-height: 432px;
  text-align: center;
  .title{
    padding-top: 97px;
    color: $color-white;
    font-size: 2.4*$font-size;
    font-family: $font-open-sans;
    font-weight: 600;
    line-height: 1.1*$line-height;
    margin: 0 auto;
    max-width: 360px;
    letter-spacing: 0.7px;
    @include  padding-screen;
  }
  .desc{
    padding-top: 27px;
    color: $color-white;
    font-size: 1.4*$font-size;
    line-height: 1.6*$line-height;
    display: inline-block;
    max-width: 410px;
    text-align: center;
  }
  .link-more-block{
    padding-top: 35px;
    .link-more{
      color: $color-white;
      @include linear-gradient;
      border: 0 none;
      &:hover{
        @include linear-gradient-back;
        opacity: 1;
        //@include transition(background 0.2s)
      }
    }
  }
  .text-link{
    padding-top: 50px;
    color: $color-white;
    font-size: 1.4*$font-size;
    a{
      color: $color-white;
      text-decoration: underline;

    }
  }
}
.details-yawa-block{
  background-color: $color-grey;
  //padding-bottom: 50px;
  padding-bottom: 65px;
  //padding-bottom: 85px;
  .container-form{
    max-width: 940px;
  }
  .title-block{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid $color-grey-line;
    .title{
      //padding-top: 90px;
      color: $color-purple;
      font-size: 2*$font-size;
      font-family: $font-open-sans;
      font-weight: 600;
      line-height: $line-height;
      @include  padding-screen;
    }
    .termes-block{
      padding-top: 25px;
      .termes{
        //max-width: 320px;
        //padding: 0 50px;
        display: inline-block;
        text-transform: uppercase;
        //border-left: 1px solid $color-black;
        border-left: 2px solid $color-grey-bord;
        font-size: 1.2*$font-size;
        font-weight: 600;
        width: 180px;
        vertical-align: top;
        letter-spacing: 0.2px;
        @include phone{
          font-size: $font-size;
          width: 160px;
        }
        @include small-phone{
          width: 140px;
        }
        &:last-of-type{
          border-right: 2px solid $color-grey-bord;
        }
        .desc-red{
          color: $color-red;

        }
      }
    }
  }
  .sub-title{
    padding-top: 55px;
    padding-bottom: 5px;
    text-align: center;
    position: relative;
    font-size: 1.8*$font-size;
    text-transform: uppercase;
    font-weight: 600;
  }
  .block-list{
    @include clearfix;
  }
  .list-block{
    //padding: 20px 30px 0;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    width: 49%;
    display: inline-block;
    vertical-align: top;
    @include phone{
      width: 100%;
    }
    &:last-of-type{
      float: right;
      padding-left: 30px;
      @include phone{
        float: none;
        padding-left: 10px;
      }
      .list-text {
        .bold-style {
          padding-bottom: 20px;
        }
      }
    }
    .list-text{
      padding-bottom: 20px;
      font-size: 1.5*$font-size;
      margin-left: -12px;
      //.bold-style{
      //  padding-bottom: 10px;
      //}
      p{
        font-size: 1.5*$font-size;
        line-height: 1.3*$line-height;
      }
      .list{
        list-style-type: disc;
        padding-left: 12px;
        p{
          line-height: 1.2*$line-height;
          font-size: 1.5*$font-size;
        }
        li{
          font-size: 0.8*$font-size;
          //padding-left: 20px;
          p{
            line-height: 1.2*$line-height;
            font-size: 1.5*$font-size;
          }
        }
      }
    }
    .list{
      //list-style-type: disc;
      //list-style-position: outside;
      p{
        line-height: 1.2*$line-height;
        font-size: 1.5*$font-size;
      }
      li{
        font-size: 0.8*$font-size;
        p{
          //padding-bottom: 20px;
          padding-bottom: 14px;
          line-height: 1.3*$line-height;
          font-size: 1.5*$font-size;
        }
      }
    }
  }
  .first-block{
       .list-block{
         .list{
           p{
             position: relative;
             letter-spacing: -0.4px;
             &:before{
               content: '.';
               position: absolute;
               left: -8px;
               top: -5px;
               display: inline-block;
               font-size: 2.1*$font-size;
               font-weight: 600;
               line-height: 1;
             }
           }
         }
       }

     }
  .second-block{
    padding-top: 25px;
    .list-block{
      padding-top: 25px;
      &:last-of-type{
        padding-left: 20px;
      }
      .list-text{
        padding-bottom: 10px;

        .bold-style{
          font-size: 1.4*$font-size;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
    }
  }
}
.hero-bg-block{
  background-image: url('../img/hero-bg-block.jpg');
}
.quote-yawa-block{
  text-align: center;
  background-color: $color-purple;
  color: $color-white;
  min-height: 360px;
  .title-block{
    padding-top: 100px;
    padding-bottom: 10px;
    @include phone{    padding-top: 35px;}
    .autor{
      //padding-top: 20px;
      padding-top: 25px;
      text-transform: uppercase;
      font-size: 1.6*$font-size;
      font-weight: 600;
    }
    .desc{
      //line-height: 1.5*$line-height;
      line-height: 1.55*$line-height;
      .icon-quote{
        font-size: 3*$font-size;
        line-height: 5px;
        vertical-align: middle;
      }
      p{}
    }
  }
}
.how-maps-yawa-block{
  min-height: 575px;
  .title-block {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    .title {
      color: $color-purple;
      font-size: 2.5*$font-size;
      font-weight: 600;
    }
    .desc {
      padding-top: 20px;
      color: $color-black;
      font-size: 1.5*$font-size;
      font-weight: 600;
    }
  }
  .content-block{
    padding-bottom: 40px;
    @include clearfix;
  }
  //.map-block{
  //  max-width: 275px;
  //  display: inline-block;
  //  vertical-align: top;
  //  //padding-top: 20px;
  //  padding-top: 10px;
  //  float: left;
  //  @include tablet{
  //    max-width: 100%;
  //    width: 100%;
  //  }
  //  .map-round{
  //    width: 274px;
  //    height: 274px;
  //    border: 1px solid $color-purple;
  //    -moz-border-radius: 50%;
  //    -webkit-border-radius: 50%;
  //    border-radius: 50%;
  //    //overflow: hidden;
  //    z-index: 2;
  //    position: relative;
  //    background: $color-grey;
  //    @include tablet{
  //      margin: 0 auto;
  //    }
  //  }
  //  .map{
  //    position: absolute;
  //    top: 12px;
  //    left: 12px;
  //    width: 250px;
  //    height: 250px;
  //    border: 1px solid $color-white;
  //    -moz-border-radius: 50%;
  //    -webkit-border-radius: 50%;
  //    border-radius: 50%;
  //    overflow: hidden;
  //    z-index: 2;
  //  }
  //  .link-map{
  //    display: block;
  //    text-align: center;
  //    text-transform: uppercase;
  //    color: $color-purple;
  //    position: relative;
  //    //margin: 20px  auto 0;
  //    margin: 35px  auto 0;
  //    max-width: 130px;
  //    padding-top: 35px;
  //    font-size: 1.4*$font-size;
  //    /**/
  //    vertical-align: middle;
  //    background-image: url("../img/icon/icon-map-anchor.png");
  //    background-repeat: no-repeat;
  //    background-position: top center;
  //    background-attachment: scroll;
  //    //&:before{
  //    //  content: '';
  //    //  //margin: 7px;
  //    //  width: 17px;
  //    //  height: 25px;
  //    //  display: inline-block;
  //    //  text-align: center;
  //    //  vertical-align: middle;
  //    //  background-image: url("../img/icon/icon-map-anchor.png");
  //    //  background-repeat: no-repeat;
  //    //  position: absolute;
  //    //  left: 40%;
  //    //  top: 0;
  //    //}
  //    &:hover{
  //      text-decoration: none;
  //    }
  //    .icon-map{
  //      //margin: 7px;
  //      //width: 17px;
  //      //height: 25px;
  //      //display: inline-block;
  //      //text-align: center;
  //      //vertical-align: middle;
  //      //background-image: url("../img/icon/icon-map-anchor.png");
  //      //background-repeat: no-repeat;
  //    }
  //    span{
  //      display: block;
  //      width: 100%;
  //    }
  //  }
  //
  //}
  .text-block{
    //padding-top: 20px;
    padding-top: 10px;
    max-width: 570px;
    max-width: 630px;
    display: inline-block;
    vertical-align: top;
    padding-left: 70px;
    line-height: 1.4*$line-height;
    float: left;
    @include desktop-little{
      padding-left: 20px;
      max-width: 450px;
    }
    @include tablet{
      max-width: 100%;
      width: 100%;
    }
    @include phone{
      padding-left: 0;
    }
    .desc{
      font-size: 1.5*$font-size;
    }
    .title-info{
      font-weight: 600;
      padding-bottom: 0;
      position: relative;
      &:before{
        content: '.';
        display: inline-block;
        position: absolute;
        left: 0;
        top: -8px;
        font-size: 2*$font-size;
        font-weight: 600;
        color: $color-black;
        vertical-align: middle;
      }
    }
    p{
      padding-bottom: 20px;
      padding-left: 20px;
      &.with-link{
        padding-top: 55px;
      }
    }
    a{
      color: $color-purple;
      text-decoration: underline;
      font-size: 1.2*$font-size;
    }
  }
}
.round-bg-block{
  background-image: url('../img/round-bg-block.jpg');
}
.booking-yawa-policy-block{
  text-align: center;
  background-color: $color-grey;
  padding-top: 55px;
  //padding-bottom: 65px;
  padding-bottom: 65px;
  .title-block{
    //padding-top: 50px;
    .title{
      color: $color-purple;
      font-size: 2*$font-size;
      //padding-bottom: 20px;
      //font-size: 2*$font-size;
      font-weight: 600;
      padding-bottom: 40px;
    }
    .desc{
      //padding-top: 20px;
      color: $color-black;
      font-size: 1.4*$font-size;
      //font-weight: 600;
      line-height: 1.4*$line-height;
      max-width: 800px;
      margin: 0 auto;
      padding-bottom: 25px;
      p{
        //padding-bottom: 30px;
      }
      a{
        text-decoration: underline;
        color: $color-purple;
      }
      .italy-style{
        font-style: italic;
      }
      .bold-style{
        font-weight: 600;
      }
    }
  }
  .line-label{
    //margin-bottom: 20px;
    &:before{
      background: $color-grey-line;
      background-position: center center;
      height: 1px;
      width: 100%;
      content: '';
      position: absolute;
      display: inline-block;
      left: 0;
      top: 10px
    }
    .label{
      background-color: $color-grey;
      color: $color-black;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 1.2*$font-size;
      padding: 0 50px;
      display: inline-block;
      z-index: 50;
      position: relative;
    }
  }
  .price-block{
    position: relative;
    margin-top: 20px;
    padding-bottom: 25px;
    .price{
      color: $color-grey-light;
      text-transform: uppercase;
      padding-top: 30px;
      .big{
        font-size: 4*$font-size;
        padding-right: 10px;
        @include tablet{font-size: 3.7*$font-size;}
        @include phone{font-size: 3.4*$font-size;}
        @include small-phone{font-size: 3.1*$font-size;}
      }
      .down-payment{
        display: inline-block;
        max-width: 180px;
        text-align: left;
        margin-left: 10px;
        font-weight: 600;
        @include phone{
          font-size: 1.4*$font-size;
          padding-top: 10px;
          text-align: center;
        }
      }
    }
    .card-block{
      //padding-top: 20px;
      padding-top: 18px;
      .icon{
        margin: 7px;
        width: 47px;
        height: 32px;
        display: inline-block;
        vertical-align: middle;
        background-image: url("../img/icon/icon-visa.png");
        background-repeat: no-repeat;
        //opacity: 1;
        //@include transition(opacity 0.2s);
        //&:hover{
        //  opacity: 0.8;
        //}
        &.icon-visa{
          background-image: url("../img/icon/icon-visa-na.png");
        }
        &.icon-mastercard{
          background-image: url("../img/icon/icon-mastercard-na.png");
        }
        &.icon-paypal{
          background-image: url("../img/icon/icon-paypal-na.png");
        }
      }

    }
  }
  .dates-block{
    position: relative;
    .termes-block{
      padding-top: 30px;
      .termes{
        max-width: 320px;
        padding: 0 50px;
        display: inline-block;
        .dates{
          width: 100%;
          display: inline-block;
          font-size: 2*$font-size;
        }
        .desc{
          width: 100%;
          display: inline-block;
          font-size: 1.5*$font-size;
          padding-top: 10px;
        }
        .desc-red{
          color: $color-red;
          @include phone{padding-bottom: 20px}
        }
      }

    }
  }
  .yawanawa-form{
    max-width: 430px;
    margin: 0 auto;
    //.desc-red{
    //  color: $color-red;
    //  font-size: 1.8*$font-size;
    //  line-height: $line-height;
    //  padding: 20px 10px 40px;
    //}
    .desc-red{
      padding: 25px 20px 44px;
      color: $color-red;
      font-size: 1.8*$font-size;
      line-height: 1.1*$line-height;
      font-weight: 600;
    }
    .form-item-pair{
      .form-item{
        input{
          text-transform: uppercase;
        }
      }
    }
    .link-more{
      color: $color-white;
      @include linear-gradient;
      border: 0 none;
      &:hover{
        @include linear-gradient-back;
        opacity: 1;
        //@include transition(background 0.2s)
      }
    }

  }
  //.link-more-block{
  //  padding-top: 37px;
  //  .link-more{
  //    color: $color-white;
  //    @include linear-gradient;
  //    border: 0 none;
  //    &:hover{
  //      @include linear-gradient-back;
  //      opacity: 1;
  //      //@include transition(background 0.2s)
  //    }
  //  }
  //}
}