<div class="menu-block">
  <div class="container">
    <div class="row">
      <ul class="menu">
{% if page.id == 36129 %}
        <li class="item-menu"><a class="page-scroll" href="#intro-personal-block">Intro</a></li>
        <li class="item-menu"><a class="page-scroll" href="#packages-personal-block">Packages</a></li>
  {% elsif page.id == 46908 %}
        <li class="item-menu"><a class="page-scroll" href="#sentence-block">Intro</a></li>
        <li class="item-menu"><a class="page-scroll" href="#description-block">Program</a></li>
        <li class="item-menu"><a class="page-scroll" href="#details-block">Details</a></li>
        <li class="item-menu"><a class="page-scroll" href="#additional-options-block">Additional Options</a></li>
        <li class="item-menu"><a class="page-scroll" href="#how-maps-block">How to get</a></li>
        <li class="item-menu"><a class="page-scroll" href="#booking-policy-block">Booking & Cancellation</a></li>
  {% elsif page.id == 46909 %}
        <li class="item-menu"><a class="page-scroll" href="#sentence-yawa-block">Intro</a></li>
        <li class="item-menu"><a class="page-scroll" href="#description-yawa-block">Program</a></li>
        <li class="item-menu"><a class="page-scroll" href="#details-yawa-block">Details</a></li>
        <li class="item-menu"><a class="page-scroll" href="#how-maps-yawa-block">How to get</a></li>
        <li class="item-menu"><a class="page-scroll" href="#booking-yawa-policy-block">Booking & Cancellation</a></li>
  {% elsif page.id == 55677%}
        <li class="item-menu"><a class="page-scroll" href="#intro-block">Intro</a></li>
        <li class="item-menu"><a class="page-scroll" href="#option-block">Options</a></li>
        <li class="item-menu"><a class="page-scroll" href="#components-rates-block">More information</a></li>
        <li class="item-menu"><a class="page-scroll" href="#components-rates-block">What`t Includes & Rates</a></li>
        <li class="item-menu"><a class="page-scroll" href="#booking-and-cancellation">Booking and Cancellation</a></li>
  {% elsif page.id == 55681%}
        <li class="item-menu"><a class="page-scroll" href="#intro-block">Intro</a></li>
        <li class="item-menu"><a class="page-scroll" href="#option-block">Options</a></li>Booking and
        <li class="item-menu"><a class="page-scroll" href="#components-rates-block">Rates</a></li>
        <li class="item-menu"><a class="page-scroll" href="#booking-and-cancellation-policy">Cancellation Policy</a></li>
  {% endif %}
      </ul>
    </div>
  </div>
</div>