{% if settings.show_latest_blog %}
{% if current_site.blog.posts_published.size > 0 %}
<div class="popups text-center hidden-sm hidden-xs">
  <div class="grid">
    {% for blog_post in current_site.blog.posts_published limit: 8 %}
    <div class="col-lg-1-4 col-md-1-3">
      {% include "blog_listing" %}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
{% endif %}