{% if page.id == 36129 %}
<div class="quote-personal-block">
  <div class="container  container-quote">
    <div class="title-block">
      <div class="desc"><p><span class="icon-quote">“</span> At age 51 my life was characterized by protective walls around my heart
        and one which allowed for exterior forces to pull me this way and that as I
        had no real rooted stability in my own core truths. Then I found Dennis. In
        just 100 days my life started to shape shift, not by magical, mystical forces
        but rather by my own intentionality. What I learned in those 100 days was
        the manifesting power of my own creative potential to cultivate the life I
        want to live, to trust in a deeper more expansive wisdom than my own
        mind, and to surrender to the truth arising from the inner voice of heart
        and soul.
      </p>
        <p>
          Thank you Dennis for the patience, guidance and unbelievable love and
          support during the 3-month intensive program. I am forever grateful for
          the freedom and vitality that is arising out of the practice of cultivating a
          deeply rooted intentional life. I hope this testimonial will help those
          reading it to say YES to the program and through it learning to walk anew
          on your own two feet!<span class="icon-quote">”</span></p>
      </div>
      <p class="autor">— JENNIFER —</p>
    </div>
  </div>
</div>
{% elsif page.id == 46908 %}
<div class="quote-block">
  <div class="container  container-quote">
    <div class="title-block">
      <div class="desc"><p><span class="icon-quote">“</span> I have experienced two retreats with Dennis. Both were wonderful experiences. His loving care is as good as it gets and he knows what he is doing. It’s clear to me that he worked deeply on his own growth and that shows in the way he works with people.<span class="icon-quote">”</span></p>
      </div>
      <p class="autor">— Wim, The Netherlands —</p>
    </div>
  </div>
</div>
{% elsif page.id == 46909 %}
<div class="quote-yawa-block">
  <div class="container container-retreat">
    <div class="title-block">
      <div class="desc"><p><span class="icon-quote">“</span>…I didn’t have the time and energy to share anything after our experience, but I wanted to say that I have never felt that good ! It was the most beautiful experience I’ve ever had. It was indescribable. It was so so so so beautiful. I’ve seen and I’ve lived such great things and felt so much happiness and love. And I want to thank you for this! I am so grateful to have been able to live this with you. Thank you so so much.<span class="icon-quote">”</span></p>
      </div>
      <p class="autor">— Victoria, Belgium —</p>
    </div>
  </div>
</div>
{% endif %}