<!--<script type='text/javascript' src='https://code.jquery.com/jquery-3.1.1.min.js'></script>-->
<meta name="google-site-verification" content="FvV01kjzE93tptA0nRUr-HEJqnsHkhIrWHsBEAB0foY" />
<link
        href="https://kajabi-storefronts-production.global.ssl.fastly.net/kajabi-storefronts-production/themes/113880/assets/custom_site_styles.css"
        rel="stylesheet"
        type="text/css"
>
<header class="header">
    <div class="container">
        <ul>
            <li>
                <a href="#">Offerings</a>
            </li>
            <li>
                <span>Retreats</span>
                <ul>
                    <li><span>Soma Immersion</span></li>
                    <li><a href="#">Journey to the Yaminawá</a></li>
                    <li><a href="#">Customized Retreats</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Calendar</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="#">Connect</a>
            </li>
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="#">Login</a>
            </li>
        </ul>
    </div>
    <div class="burger"></div>
</header>
