{% include "header_block" %}
<div  class="intro-integration-block block-scroll default">
  <div class="container container-sentence">
    <div class="row">
      {{ page.content }}
      {% include "video" %}
    </div>
  </div>
  {% include "scroll_up_block" %}
</div>
<div class="online-integration-block" style="background-image :url('{{ 'integration-and-embodiment-block.jpg' | asset_url | img_tag }}')">
  <div class="container">
    <div class="row">
      <div class="content-block">
        <div class="desc">
          <p>Integration is as important — if not more important — than the healing that happens in a Sacred Ceremony.</p>
          <p>Integration and embodiment is what happens after your Sacred Ceremony; taking those teachings, healing and insights into the biggest ceremony of all; Daily life.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="desc-integration-block">
  <div class="container container-normal">
    <div class="row">
      <div class="content-block">
        <div class="title-block">
          <h2 class="title">A one of a kind course for integration and embodiment after Sacred Ceremony on the market. In these 5 modules discover how to:</h2>
        </div>
        <div class="desc">
          <p>– Prepare your physical body to for work with the Spiritual energies in Sacred Ceremony</p>
          <p>– How to build the power to manifest your visions and dreams</p>
          <p>– Heal from past trauma</p>
          <p>– Keep up the radiant energy experienced after Sacred Ceremony</p>
        </div>
        <div class="desc">
          <p>On top of that you will receive a bonus module where I tell you about the encounter I had with a big Snake in the Amazon of Brazil during one of my long dieta’s with the Yawanawá, and share the teachings that I received from her on how to plant a seed of something you would like to see in our life, and how to nurture it until it has come into this reality; how to beam the future.</p>
          <p>Also you will receive information on post-ceremony diet, and general practices & guidelines that will help you with the integration and embodiment of your ceremonial experiences into daily life.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="img-bg-block integration-bg-block" style="background-image :url('{{ 'integration-and-embodiment-bg-block.jpg' | asset_url | img_tag }}')"></div>
<div  class="components-integration-connect-block">
  <div class="container container-connect">
    <div class="row">
      <div class="title-block">
        <h2 class="title">Registration Opens Soon</h2>
        <div class="desc">
          <p>Enter your details below and receive 3 FREE introduction videos to the course</p>
        </div>
      </div>
      <div class="form-block">
        <div class="line-label"></div>
        <form class="yawanawa-form form-grey" action="#">
          <div class="form-item-pair">
            <div class="form-item">
              <input type="text" name="search" id="upload" placeholder="Your name">
            </div>
            <div class="form-item">
              <input type="text" name="search" id="upload" placeholder="Your email">
            </div>
          </div>
          <div class="form-actions">
            <button  class="btn link-more">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

