{% include "header_block" %}
<div id="intro-meds-block" class="block-scroll intro-meds-block default">
  <div class="container container-meds">
    <div class="row">
      {{ page.content }}
    </div>
  </div>
  {% include "scroll_up_block" %}
</div>
<div id="dangerous-meds-block" class="dangerous-meds-block">
  <div class="container container-mission">
    <div class="row">
      <div class="content-block">
        <p class="title-block">Illegal or recreational drugs that are VERY dangerous to combine with MAOIs:</p>
        <div class="desc">
          <p class="bold-style">Cocaine</p>
          <p class="sec-line"><span class="bold-style">Amphetamines</span>
            (meth-, dex-, amphetamine), ephedrine, MDMA (Ecstasy), MDA, MDEA, PMA</p>
          <p class="sec-line"><span class="bold-style">Opiates</span>
            (heroin, morphine, codeine, and especially opium)</p>
          <p class="bold-style">Dextromethorphan (DXM)</p>
          <p class="bold-style">Nutmeg</p>
          <p class="sec-line"><span class="bold-style">Mescaline</span>
            (any phenethylamine)</p>
          <p class="bold-style">Barbiturates</p>
          <p class="bold-style">Alcohol
          <p class="bold-style">Kratom</p>
          <p class="bold-style">Kava</p>
          <p class="bold-style">5-MEO-DMT</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="pharmaceutical-meds-block" class="pharmaceutical-meds-block">
  <div class="container container-meds">
    <div class="title-block">
      <h2 class="title">Some specific pharmaceutical drugs that should not be combined with MAOIs (some are mild risks, others serious)</h2>
    </div>
    <div class="row">
      <div class="content-block">
        <div class="list-block">
          <div class="letter-list">
            <p class="title">A</p>
            <ul class="list">
              <li>· Actifed</li>
              <li>· Adderall</li>
              <li>· Alaproclate</li>
              <li>· Albuterol (Proventil, Ventolin)</li>
              <li>· Amantadine hydrochloride (Symmetrel)</li>
              <li>· Amiflamine</li>
              <li>· Amineptine</li>
              <li>· Amitriptaline</li>
              <li>· Amoxapine (Asendin)</li>
              <li>· Atomoxedine</li>
            </ul>
          </div>
          <div class="letter-list">
            <p class="title">B</p>
            <ul class="list">
              <li>· Bazinaprine</li>
              <li>· Befloxetone</li>
              <li>· Befol</li>
              <li>· Benadryl</li>
              <li>· Benmoxinb (Nerusil, Neuralex)</li>
              <li>· Benylin</li>
              <li>· Benzedrine</li>
              <li>· Benzphetamine (Didrex)</li>
              <li>· Bicifadine</li>
              <li>· Brasofensine</li>
              <li>· Brofaromine (Consonar)</li>
              <li>· Buprenorphine</li>
              <li>· Bupropion (Wellbutrin)</li>
              <li>· Buspirone (BuSpar)</li>
              <li>· Butriptyline</li>
            </ul>
          </div>
          <div class="letter-list">
            <p class="title">C</p>
            <ul class="list">
              <li>· Carbamazepine (Tegretol, Epitol)</li>
              <li>· Chlorpheniramine</li>
              <li>· Chlor-Trimeton</li>
              <li>· Cimoxetone</li>
              <li>· Citalopram (Celexa)</li>
              <li>· Clomipramine (Anafranil)</li>
              <li>· Clorgyline</li>
              <li>· Codeine</li>
              <li>· Cyclobenzaprine (Flexeril)</li>
              <li>· Cyclizine (Marezine)</li>
            </ul>
          </div>
          <div class="letter-list">
            <p class="title">D</p>
            <ul class="list">
              <li>· D-deprenyl</li>
              <li>· Dapoxotine</li>
              <li>· Desipramine (Pertofrane, Norpramin)</li>
              <li>· Desvenlafaxine</li>
              <li>· Dextroamphetamine (Dexedrine)
              <li>· Dextromethorphan (DXM)</li>
              <li>· Dibenzepin</li>
              <li>· Dienolide kavapyrone desmethoxyyangonin</li>
              <li>· Diethylpropion</li>
              <li>· Disopyramide (Norpace)</li>
              <li>· Disulfiram (Antabuse)</li>
              <li>· Dobutamine</li>
              <li>· Dopamine (Intropin)</li>
              <li>· Dosulepin</li>
              <li>· Doxepin (Sinequan)</li>
              <li>· Duloxetine (Cymbalta)</li>
            </ul>
          </div>
        </div>
        <div class="list-block">
          <div class="letter-list">
            <p class="title">E</p>
            <ul class="list">
              <li>· Emsam</li>
              <li>· Entacapone</li>
              <li>· Ephedrine</li>
              <li>· Epinephrine (Adrenalin)</li>
              <li>· Escitalopram (Lexapro)</li>
              <li>· Esuprone</li>
              <li>· Etorphine</li>
            </ul>
          </div>
          <div class="letter-list">
            <p class="title">F</p>
            <ul class="list">
              <li>· Femoxitine</li>
              <li>· Fenfluramine (Pondimin)</li>
              <li>· Flavoxate Hydrochloride (Urispas)</li>
              <li>· Fluoxetine (Prozac)</li>
              <li>· Fluvoxamine</li>
              <li>· Furazolidone (Furoxone)</li>
            </ul>
          </div>
          <div class="letter-list">
            <p class="title">G</p>
            <ul class="list">
              <li>· Guanethedine</li>
              <li>· Guanadrel (Hylorel)</li>
              <li>· Guanethidine (Ismelin)</li>
            </ul>
          </div>
          <div class="letter-list">
            <p class="title">H</p>
            <ul class="list">
              <li>· Hydralazine (Apresoline)</li>
              <li>· Hydrazine</li>
              <li>· 5-Hydroxytryptophan</li>
            </ul>
          </div>
          <div class="letter-list">
            <p class="title">I</p>
            <ul class="list">
              <li>· Imipramine (Tofranil)</li>
              <li>· Iprindole</li>
              <li>· Iproniazid (Marsilid, Iprozid, Rivivol, Propilniazida)</li>
              <li>· Iproclozide (Sursum)</li>
              <li>· Isocarboxazid (Marplan)</li>
              <li>· Isoniazid (Laniazid, Nydrazid)</li>
              <li>· Isoniazid rifampin (Rifamate, </li>
              <li>· Isoproterenol</li>
            </ul>
          </div>
          <div class="letter-list">
            <p class="title">L</p>
            <ul class="list">
              <li>· L-dopa (Sinemet)</li>
              <li>· Ladostigil</li>
              <li>· Lazabemide (Pakio, Tempium)</li>
              <li>· Levodopa (Dopar, Larodopa)</li>
              <li>· Linezolid (Zyvox, Zyvoxid)</li>
              <li>· Lithium (Eskalith)</li>
              <li>· Lofepramine</li>
              <li>· Loratadine (Claritin)</li>
            </ul>
          </div>
          <div class="letter-list">
            <p class="title">M</p>
            <ul class="list">
              <li>· Maprotiline (Ludiomil)</li>
              <li>· Mebanazine (Actomol)</li>
              <li>· Medifoxamine</li>
              <li>· Melitracen</li>
              <li>· Meperidine (Demerol)</li>
              <li>· Metaproterenol (Alupent, Metaprel)</li>
              <li>· Metaraminol (Aramine)</li>
              <li>· Metfendrazine (Inkazan)</li>
              <li>· Methamphetamine (Desoxyn)</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="content-block">
        <div class="list-block">
          <div class="letter-list">
            <p class="title">M</p>
            <ul class="list">
              <li>· Methyldopa (Aidomet)</li>
              <li>· Methylphenidate (Ritalin)</li>
              <li>· Metralindole</li>
              <li>· Mianserin</li>
              <li>· Milacimide</li>
              <li>· Milnacipran</li>
              <li>· Minaprine (Cantor)</li>
              <li>· Mirtazapine (Remeron)</li>
              <li>· Mofegeline</li>
              <li>· Moclobemide (Aurorix, Manerix)</li>
              <li>· Monomethylhydrazine</li>
              <li>· Montelukast (Singulair)</li>
            </ul>
          </div>
          <div class="letter-list">
            <p class="title">N</p>
            <ul class="list">
              <li>· Nalbufrine</li>
              <li>· Naloxone</li>
              <li>· Naltrexone</li>
              <li>· Nefazodone</li>
              <li>· Nialamide (Niamid)</li>
              <li>· Nisoxetine</li>
              <li>· Nomifensine</li>
              <li>· Norepinephrine (Levophed)</li>
              <li>· Nortriptyline (Aventyl)</li>
            </ul>
          </div>
          <div class="letter-list">
            <p class="title">O</p>
            <ul class="list">
              <li>· Octamoxin (Ximaol, Nimaol)</li>
              <li>· Oxybutynin chloride (Ditropan)</li>
              <li>· Oxycodone</li>
              <li>· Oxymetazoline (Afrin)</li>
              <li>· Oxymorphone</li>
              <li>· Orphenadrine (Norflex)</li>
            </ul>
          </div>
          <div class="letter-list">
            <p class="title">P</p>
            <ul class="list">
              <li>· Pargyline (Eutonyl)</li>
              <li>· Parnate</li>
              <li>· Paroxetine (Paxil)</li>
              <li>· Pemoline (Cylert)</li>
              <li>· Percocet</li>
              <li>· Pethedine (Demerol)</li>
              <li>· Phendimetrazine (Plegiline)</li>
              <li>· Phenelzine (Nardil)</li>
              <li>· Phenergen</li>
              <li>· Phenelzine (Nardil, Nardelzine)</li>
              <li>· Pheniprazine (Catron)</li>
              <li>· Phenmetrazine</li>
              <li>· Phenoxypropazine (Drazine)</li>
              <li>· Phentermine</li>
              <li>· Phenylephrine (Dimetane, Dristan decongestant, Neo- Synephrine)</li>
              <li>· Phenylhydrazine</li>
              <li>· Phenylpropanolamine (found in many cold medicines)</li>
              <li>· Phenelzine (Nardil)</li>
              <li>· Pirlindole (Pirazidol)</li>
              <li>· Procarbazine (Matulane)</li>
              <li>· Procainamide (Pronestyl)</li>
              <li>· Protriptyline (Vivactil)</li>
              <li>· Pseudoephedrine</li>
            </ul>
          </div>
        </div>
        <div class="list-block">
          <div class="letter-list">
            <p class="title">Q</p>
            <ul class="list">
              <li>· Oxymetazoline (Afrin)</li>
              <li>· Quinidine (Quinidex)</li>
            </ul>
          </div>
          <div class="letter-list">
            <p class="title">R</p>
            <ul class="list">
              <li>· Rasagiline (Azilect)</li>
              <li>· Reboxetine</li>
              <li>· Reserpine (Serpasil)</li>
              <li>· Risperidone</li>
            </ul>
          </div>
          <div class="letter-list">
            <p class="title">S</p>
            <ul class="list">
              <li>· Salbutemol</li>
              <li>· Salmeterol</li>
              <li>· Selegiline (Eldepryl, Emsam, Zelapar)</li>
              <li>· Sercloramine</li>
              <li>· Sertraline (Zoloft)</li>
              <li>· Sibutramine</li>
              <li>· Sumatriptan (Imitrex)</li>
            </ul>
          </div>
          <div class="letter-list">
            <p class="title">T</p>
            <ul class="list">
              <li>· Terfenadine (Seldane-D)</li>
              <li>· Tegretol</li>
              <li>· Temaril</li>
              <li>· Tesofensine</li>
              <li>· Tetrindole</li>
              <li>· Theophylline (Theo-Dur)</li>
              <li>· Thesbutiaint</li>
              <li>· Thioridazine (Mellaril)</li>
              <li>· Tianeptine</li>
              <li>· Tolcapone</li>
              <li>· Toloxatone (Humoryl)</li>
              <li>· Tramidol</li>
              <li>· Tranylcypromine (Parnate)</li>
              <li>· Trazodone</li>
              <li>· Tricyclic antidepressants (Amitriptyline, Elavil)</li>
              <li>· Trimipramine (Surmontil)</li>
              <li>· Triptans</li>
              <li>· Tyrima</li>
            </ul>
          </div>
          <div class="letter-list">
            <p class="title">V</p>
            <ul class="list">
              <li>· Vanoxerine</li>
              <li>· Venlafaxine (Effexor)</li>
              <li>· Viloxezine</li>
            </ul>
          </div>
          <div class="letter-list">
            <p class="title">Y</p>
            <ul class="list">
              <li>·Yohimbine</li>
            </ul>
          </div>
          <div class="letter-list">
            <p class="title">Z</p>
            <ul class="list">
              <li>· Zimelidine</li>
              <li>· Ziprasidone (Geodon)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="avoid-meds-block" class="avoid-meds-block">
  <div class="title-block">
    <h2 class="title">Also avoid the following herbs for at least 48 hours before and after:</h2>
  </div>
  <div class="container container-avoid">
    <div class="row">
      <div class="content-block">
        <div class="item-block">
          <p>St. Johns Wort <span class="desc-red">(should be avoided for at least
            two weeks)</span>
          </p>
          <p>Betel</p>
          <p>Boswellia</p>
          <p>Carrot seed</p>
          <p>Chamomile</p>
          <p>Curcumin</p>
          <p>Dill seed</p>
          <p>Ephedra</p>
        </div>
      </div>
      <div class="content-block">
        <div class="item-block">
          <p>Fennel seed</p>
          <p>Fo-Ti</p>
          <p>Ginseng</p>
          <p>Horny Goat Weed</p>
          <p>Kanna</p>
          <p>Kava</p>
          <p>Kratom</p>
          <p>Licorice Root</p>
          <p>Nutmeg</p>
        </div>
      </div>
      <div class="content-block">
        <div class="item-block">
          <p>Parsley seed</p>
          <p>Rhodiola Rosea</p>
          <p>Scotch Broom</p>
          <p>Siberian Ginseng</p>
          <p>Sinicuichi</p>
          <p>Tumeric</p>
          <p>Yerba</p>
          <p>Mate</p>
          <p>Yohimbe</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="desc-meds-block" class="desc-meds-block">
  <div class="container container-meds">
    <div class="row">
      <div class="content-block">
        <p>Using <span class="bold-style">stimulants with MAOIs</span> is particularly dangerous and can be potentially fatal. Using <span class="bold-style">cocaine, amphetamines</span> or <span class="bold-style">MDMA (Ecstasy)</span> with MAOIs may cause a severe increase in blood pressure, increasing the chances for stroke and cerebral hemorrhage. MAOIs may make it possible to overdose on a relatively small amount of cocaine. (A fatality has been recorded involving combination of Peganum harmala and cocaine. Fatalities resulting from combining amphetamines with pharmaceutical MAOIs are recorded in the medical literature.)</p>
        <p>Using other <span class="bold-style">serotonin agonists</span> (SSRIs) or <span class="bold-style">precursors</span> with an MAOI can lead to serotonin syndrome. Serotinin syndrome  is rare, but can be fatal. The main symptom of serotonin syndrome may be a severe and long-lasting headache (the same symptom as MAOI tyramine interaction) and/or fever (as high as 40 °C / 104 °F or more) Other symptoms of serotonin syndrome may include rapid heartbeat, shivering, sweating, dilated pupils, intermittent tremor or twitching, overactive or overresponsive reflexes, hyperactive bowel sounds, high blood pressure. Severe serotonin syndrome may lead to shock, agitated delirium, muscular rigidity and high muscular tension, abnormal blood clotting and bleeding, respiratory failure, renal failure, and seizures, and can be life-threatening. This interaction can happen even if weeks have passed between stopping the SSRI and taking the MAOI. For further information on serotonin syndrome <a href="#">read</a></p>
        <p>Using other <span class="bold-style">MAOI</span>s with Ayahuasca may result in hypertensive crisis, convulsive seizures, fever, marked sweating, excitation, delirium, tremor, coma and circulatory collapse.</p>
        <p>Using <span class="bold-style">5-MEO-DMT</span> with Ayahuasca or Ayahuasca analogs can be fatal. There is a documented case of fatality combining 5- MEO-DMT with an Ayahuasca analog.</p>
        <p>Using <span class="bold-style">opiates (opium, heroin, morphine, codeine)</span> or barbiturates with MAOIs can increase the sedative effect and result in respiratory depression. Using MAOIs with heroin or morphine can theoretically push a normal dose to the overdose threshold. Opium (whether smoked or drunk as tea) is especially dangerous to combine with MAOIs, because it contains not only morphine and codeine, but another active alkaloid called thebaine, which can cause convulsions when combined with MAOIs, and which is also a stimulant (see above paragraph on stimulants). Painkillers synthesized from  thebaine (buprenorphine, etorphine, oxycodone, oxymorphone, nalbuphine, naloxone, naltrexone) should also be regarded as highly dangerous to combine with MAOIs.
        <p>Using <span class="bold-style">alcohol</span> with MAOIs may cause side effects like angina (chest pain) or headaches. The headache may mask or be mistaken for hypertensive crisis caused by MAOI interaction. MAOIs can also increase the sedative effect of alcohol.</p>
        <p>Using <span class="bold-style">Diuretics</span> with MAOIs may cause a greater drop in blood pressure than normal and increase in MAOI blood levels.</p>
        <p>Using <span class="bold-style">Anesthetics</span> with MAOIs may potentiate or increase the anesthetic effect.</p>
        <p>Using <span class="bold-style">sleeping pill</span>s or tranquilizers (major or minor) with MAOIs may increase the sedative effect.</p>
        <p>Using <span class="bold-style">Nutmeg</span> (at psychoactive levels) with MAOIs can cause hypotensive crisis (extremely low blood pressure), rapid heartbeat, unconsciousness and potentially death.</p>
        <p>Using <span class="bold-style">vasodilators</span> with Ayahuasca may cause fainting (which carries the slight risk of choking on vomit) and increases the chances of having an experience in which one believes one is dying. Using vasodilators immediately after an Ayahuasca session also carries the risk of fainting or passing out.</p>
        <p>Using <span class="bold-style">Tricyclic</span> antidepressants within two weeks of taking MAOIs may cause serious side effects including sudden fever, extremely high blood pressure, convulsions, and death.</p>
        <p>Using <span class="bold-style">TricyclicFluoxetine (Prozac)</span> within five weeks of taking MAOIs may cause high fever, rigidity, high blood pressure, mental changes, confusion and hypomania.</p>
        <p>Using <span class="bold-style">Amitryptamine</span> or <span class="bold-style">Amoxipine</span> with MAOIs may cause hyperpyretic crises, disseminated intravascular coagulation, convulsions, and death.</p>
        <p>Using <span class="bold-style">Benzedrine, Benzphetamine, Desipramine, Desoxyn, Dexedrine, Dopamine, Ephedrine</span> (contained in Marax, Quadrinal, and other asthma drugs), <span class="bold-style">Epinephrine, Guanadrel, Guanethidine, Hydralazine, Isoproterenol, L- dopa, Metaraminol, Methyldopa, Mirtazamine, Norepinephrine Oxymetazoline, Phendimetrazine, Phentermine, Phenylephrine, Phenylpropanolamine, Pseudoephedrine, Ritalin,</span> or<span class="bold-style"> Venlafaxine</span> with MAOIs may cause a hypertensive crisis (severe spike in blood pressure) which can lead to brain hemorrhage or stroke.</p>
        <p>Using <span class="bold-style">Adderall</span> with MAOIs can result in high body temperature (hyperpyrexic crisis), severe increase in blood pressure (hypertensive crisis), seizures, and coma. (see paragraph above on stimulants)</p>
        <p>Using <span class="bold-style">Adderall</span> with MAOIs can result in high body temperature (hyperpyrexic crisis), severe increase in blood pressure (hypertensive crisis), seizures, and coma. (see paragraph above on stimulants)</p>
        <p>Using <span class="bold-style">Bupropion (Wellbutrin)</span> within two weeks of taking MAOIs may cause serious side effects such as seizures.</p>
        <p>Using <span class="bold-style">Buspirone (Buspar)</span> with MAOIs may cause high blood pressure and increased sedative effects.</p>
        <p>Using <span class="bold-style">Carbamazepine (Tegretol)</span> with MAOIs may result in fever (hyperpyrexic crisis) and may cause seizures, or increase seizures in epileptics.</p>
        <p>Using <span class="bold-style">Citalopram</span> with MAOIs may result in severe and sometimes fatal reactions involving elevations in blood pressure, hyperthermia, rigidity, and autonomic instability. This drug should be ceased a minimum of two weeks before taking Ayahuasca.</p>
        <p>Using <span class="bold-style">Clomipramine</span> with MAOIs may cause high fever (hyperpyrexic crisis), seizures, disseminated intravascular coagulation, and death.</p>
        <p>Using <span class="bold-style">CNS depressants</span> with MAOIs may increase the depressant effects.</p>
        <p>Using <span class="bold-style">Desipramine (Norpramin, Pertofrane</span>) with MAOIs may result in hypertensive crisis, hyperpyretic crises, disseminated intravascular coagulation, convulsions, and death.</p>
        <p>Using <span class="bold-style">Dextromethorphan (DXM)</span> at psychoactive levels with MAOIs may cause serotonin syndrome, extremely high blood pressure (hypertensive crisis), high body temperature (hyperpyrexic crisis), episodes of psychosis, and in high doses can potentially be fatal.</p>
        <p>Using <span class="bold-style">Dobutamine</span> with MAOIs may precipitate severe hypertensive reaction.</p>
        <p>Using <span class="bold-style">Doxepin</span> with MAOIs may cause hyperpyretic crises, disseminated intravascular coagulation, convulsions, and death.</p>
        <p>Using <span class="bold-style">Entacapone</span> with MAOIs can stop the catalyst enzyme catechol-O-methyltransferase (COMT) from metabolizing levodopa to 3-O-methyldopa in the periphery, and in the brain.</p>
        <p>Using <span class="bold-style">Fenfluramine</span> with MAOIs may result in fever (hyperpyrexic crisis).</p>
        <p>Using <span class="bold-style">Fluoxedine</span> or Fluvaoxamine with MAOIs may result in severe and sometimes fatal reactions involving elevations in blood pressure, hyperthermia, rigidity, and autonomic instability. This drug should be ceased a minimum of two weeks before taking Ayahuasca.</p>
        <p>Using <span class="bold-style">Horny Goat Weed</span> with MAOIs may result in hypotensive crisis (severe blood pressure drop).</p>
        <p>Using <span class="bold-style">Imipramine</span> with MAOIs may cause hyperpyretic crises, disseminated intravascular coagulation, convulsions, and death.</p>
        <p>Using <span class="bold-style">Isoproterenol</span> with MAOIs may precipitate severe hypertensive crisis.</p>
        <p>Using <span class="bold-style">Kava</span> with MAOIs may result in hypotensive crisis (severe blood pressure drop).</p>
        <p>Using <span class="bold-style">Levodopa with MAOIs can stop the catalyst enzyme catechol-O-methyltransferase (COMT) from metabolizing levodopa to 3-O-methyldopa in the periphery, and in the brain.</span>
        <p>Using <span class="bold-style">Linezolid</span> with MAOIs can cause serotonin syndrome. Using Lithium with MAOIs may cause fever (hyperpyrexic crisis) and serotonin syndrome (see serotonin syndrome above).</p>
        <p>Using <span class="bold-style">Meperidine (Demerol)</span> with pharmaceutical MAOIs has resulted in deaths from a single dose. Immediate onset of sweating, rigidity and hypertension can occur.</p>
        <p>Using <span class="bold-style">Metaproterenol</span> or other beta-adrenergic bronchodilators with MAOIs may cause blood pressure elevation and rapid heartbeat.</p>
        <p>Using <span class="bold-style">Mirtazapine (Remeron)</span> with MAOIs may result in hypertensive crisis.</p>
        <p>Using <span class="bold-style">Nefazodone (Serzone)</span> may result in high fever (hyperpyrexic crisis).</p>
        <p>Using <span class="bold-style">Paroxitine (Paxil)</span> with MAOIs may result in severe and sometimes fatal reactions involving elevations in blood pressure, hyperthermia, rigidity, and autonomic instability. This drug should be ceased a minimum of two weeks before taking Ayahuasca.</p>
        <p>Using <span class="bold-style">Sertraline</span> with MAOIs may result in severe and sometimes fatal reactions involving elevations in blood pressure, hyperthermia, rigidity, and autonomic instability. This drug should be ceased a minimum of two weeks before taking Ayahuasca.</p>
        <p>Using <span class="bold-style">Temaril</span> with MAOIs may increase chance of side effects.</p>
        <p>Using <span class="bold-style">Terfenadine</span> with MAOIs may cause an increase in MAOI blood levels.</p>
        <p>Using <span class="bold-style">Theophylline</span> with MAOIs may cause rapid heartbeat and anxiety.</p>
        <p>Using <span class="bold-style">Tolcapone</span> with MAOIs can stop the catalyst enzyme catechol-O-methyltransferase (COMT) from metabolizing levodopa to 3-O-methyldopa in the periphery, and in the brain.</p>
        <p>Using <span class="bold-style">Trazodone (Desyrel)</span> with MAOIs may result in high fever (hyperpyrexic crisis).</p>
        <p>Using <span class="bold-style">Tryptophan</span> or <span class="bold-style">L-tryptophan</span> with MAOIs may cause disorientation, confusion, amnesia, delirium agitation, memory impairment, hypomanic signs, shivering.</p>
        <p>Using <span class="bold-style">Venlafaxine (Effexor)</span> with MAOIs may result in hypertensive crisis or serotonin syndrome.</p>
        <p>Using <span class="bold-style">Ziprasidone (Geodon</span> with MAOIs may cause serotonin syndrome.</p>
        <p>Using <span class="bold-style">Zoloft (Sertraline)</span> with MAOIs has produced fatal cases of serotonin syndrome, and can also result in fever, muscle rigidity, instability of the autonomic nervous system, delirium, and coma.</p>
        <p class="italy-style desc-red">Special note to diabetics: MAOIs may change the amount of insulin or oral antidiabetic medication that you need</p>
      </div>
      <div class="content-block-desc">
        <h3 class="title">How long do you have to stay off contraindicated drugs before and after an Ayahuasca ceremony?</h3>
        <div class="desc">
          <p>Depends on the drug. May be 24 hours, may be six months.  For over the counter drugs (like antihistamines), 48 hours before and after is more than enough. For prescription drugs, two to six weeks is typical, but do not guess. Find out for sure from your doctor. Your doctor may be unfamiliar with Ayahuasca specifically, but tell him or her that you are  planning to take a reversible MAOI.</p>
          <p>Some people who plan to drink Ayahuasca in a country where it is not legal are concerned that the doctor will ask questions about the source of the MAOI and learn about an illegal activity. Doctors are bound by doctor-patient confidentiality and they would prefer to know about anything their patients are taking, legal or not. But if your doctor feels that he or she needs more information about Ayahuasca, you could refer him or her to this site and other informational resources found on for
            <a href="#">example</a></p>
        </div>
        <div class="desc-red italy-style">
          <p>Medical consultation is especially important if you are taking <span class="bold-style">Prozac, Paxil, Wellbutrin, Effexor, Zoloft</span> or other <span class="bold-style">antidepressants</span> that affect serotonin levels, i.e. serotonin selective re-uptake inhibitors (SSRI), because these substances must be reduced gradually. <span class="bold-style">Fluoxetine (Prozac) requires 8 weeks (56 days) and most other SSRIs five weeks (35 days) to clear the system.</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "ready_form_block" %}