{% include "header_block" %}
<div id="mission-block" class="block-scroll mission-block default">
  <div class="container container-sentence">
    <div class="row">
      {{ page.content }}
    </div>
  </div>
  {% include "scroll_up_block" %}
</div>
<div class="img-bg-block purple-bg-block" style="background-image :url('{{ 'mission-purple-bg-block.jpg' | asset_url | img_tag }}')"></div>
<div id="values-mission-block" class="values-mission-block">
  <div class="container container-mission">
    <div class="row">
      <div class="content-block">
        <p class="title-block">Values</p>
        <div class="desc">
          <p class="sec-line">Transformation of consciousness is the basis for transformation of the world; individually, collectively and as a society.</p>
          <p>A daily spiritual practice is a cornerstone for personal growth and transformation.</p>
          <p>Human possibilities are unlimited.</p>
          <p class="three-line">Realization of the human potential transcends political, religious and
            scientific dogma.</p>
          <p>All share the potential to love, learn, feel, and create.</p>
          <p>Strong natural tools of transformation can be used in a space that is held with love, protection, wisdom and compassion. The intention of using those tools are healing, growth and the uplifting of consciousness.</p>
          <p class="three-line">Personal attention is a catalyst for growth, hence our choice to work
            in small groups.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="img-bg-block sky-bg-block" style="background-image :url('{{ 'mission-sky-bg-block.jpg' | asset_url | img_tag }}')"></div>
<div id="practices-mission-block"  class="practices-mission-block">
  <div class="container container-mission">
    <div class="row">
      <div class="title-block">
        <h2 class="title">Practices</h2>
      </div>
    </div>
    <div class="row">
      <div class="list-block col-lg-6 col-xs-12 col-xs-12">
        <p><span class="label-bold">Gratitude. </span>The attitude is gratitude. We recognise and honour the gifts of every single moment.</p>
        <p><span class="label-bold">Service. </span>We offer our service by offering our experience and support to the growth of others.</p>
        <p><span class="label-bold">Growth. </span>We provide learning opportunities and support personal, collective and social transformation. We take risks to discover and reveal ourselves. We share the right to uplift our consciousness and to realize our full potential to love, to feel, to manifest and to learn, living fully in this moment, here and now.</p>
        <p><span class="label-bold">Responsibility. </span>We take responsibility for who we are; our choices, our words, attitudes and actions. We recognise that our actions affect others and acknowledge our part in each situation.</p>
        <p><span class="label-bold">Integrity. </span>We strive for harmony among our words, actions, values and beliefs and to foster conscious communication and self-expression.</p>
      </div>
      <div class="list-block col-lg-6 col-xs-12 col-xs-12">
        <p><span class="label-bold">Beauty. </span>We offer beauty in our work as much as we can. Beauty allows for trust to come in, trust allows for safety to come in. To feel safe allows the growth and healing to happen.</p>
        <p><span class="label-bold">Space. </span>It is our intent to hold a safe space, where people feel guarded and protected to go deep inside of themselves with the purpose of growth and healing.</p>
        <p><span class="label-bold">Confidentiality. </span> We are grateful for all that is shared with us and honour and respect that in full confidentiality.</p>
        <p><span class="label-bold">Sexual Safety. </span>Your sexual safety is guaranteed at all times in all our works. So you can open and blossom towards your full potential, in complete trust and surrender.</p>
      </div>
    </div>
  </div>
</div>
{% include "ready_form_block" %}