{% include "header_block" %}
<div id="intro-block" class="calendar-period-block">
  <div class="container-fluid container-block">
    {{ page.content }}
    <div class="row">
      <div class="content-block col-lg-4 col-xs-12">
        <div class="item-block">
          <div class="img-block">
            <a href="#">
              <img src="{{'calendar1-01.jpg' | asset_url | img_tag }}" alt="calendar">
            </a>
          </div>
          <div class="text-block">
            <div class="date">
              <span>March 19 – 24, 2017</span>
            </div>
            <div class="status">
              <a href="#" class="status-yelllow">Few places available</a>
            </div>
            <div class="title">
              <a href="#">SOMA IMMERSION</a>
            </div>
            <div class="desc">
              <p>A Journey in Mexico</p>
            </div>

          </div>
          <div class="link-more-block">
            <a class="link-more" href="#">More Info</a>
          </div>
        </div>
      </div>
      <div class="content-block col-lg-4 col-xs-12">
        <div class="item-block">
          <div class="img-block">
            <a href="#">
              <img src="{{'calendar1-02.jpg' | asset_url | img_tag }}" alt="calendar">
            </a>
          </div>
          <div class="text-block">
            <div class="date">
              <span>March 26 – 31, 2017</span>
            </div>
            <div class="status">
              <a href="#" class="status-red">No spaces available</a>
            </div>
            <div class="title">
              <a href="#">SOMA IMMERSION</a>
            </div>
            <div class="desc">
              <p>A Journey in Mexico</p>
            </div>

          </div>
          <div class="link-more-block">
            <a class="link-more" href="#">More Info</a>
          </div>
        </div>
      </div>
      <div class="content-block col-lg-4 col-xs-12">
        <div class="item-block">
          <div class="img-block">
            <a href="#">
              <img src="{{'calendar1-03.jpg' | asset_url | img_tag }}" alt="calendar">
            </a>
          </div>
          <div class="text-block">
            <div class="date">
              <span>May 5 - 7, 2017</span>
            </div>
            <div class="status">
              <a href="#" class="status-green">Spaces available</a>
            </div>
            <div class="title">
              <a href="#">Weekend retreat</a>
            </div>
            <div class="desc">
              <p>in Ojai</p>
            </div>
          </div>
          <div class="link-more-block">
            <a class="link-more" href="#">More Info</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "ready_form_block" %}