{% include "header_block" %}
<div id="intro-block" class="block-scroll calendar-period-block default">
  <div class="container-fluid container-block">
    <div class="row">
      {% comment %}
      calendar_block_snippet template
      {% endcomment %}
      {% include "calendar_block_snippet" %}
    </div>
  </div>
  {% include "scroll_up_block" %}
</div>
{% include "ready_form_block" %}