{% include "header_block" %}
<div id="online-policy-block" class="block-scroll online-policy-block default">
  <div class="container container-terms">
    <div class="row">
      {{ page.content }}
    </div>
  </div>
  {% include "scroll_up_block" %}
</div>
<div class="img-bg-block online-policy-bg-block"></div>