{% include "header_block" %}
{% include "anchors_menu_block" %}
<div id="intro-personal-block" class="block-scroll intro-personal-block default">
  <div class="container container-sentence">
    <div class="row">
      {{ page.content }}
    </div>
  </div>
  {% include "scroll_up_block" %}
</div>
<div class="ready-personal-block" style="background-image :url('{{ 'ready-personal-block.jpg' | asset_url | img_tag }}')">
  <div class="container container-personal">
    <div class="row">
      <h2 class="title">Price for 1 single session</h2>
      <div class="desc">
        <p>30 minutes:  $ 75.00</p>
        <p>60 minutes: $ 150.00</p>
      </div>
      <div class="link-more-block">
        <a href="#" class="btn link-more">Order consultation</a>
      </div>
    </div>
  </div>
</div>
<div id="packages-personal-block"  class="packages-personal-block">
  <div class="container container-form">
    <div class="row">
      <div class="title-block">
        <h2 class="title">SacredJourney.Earth Consultation packages</h2>
      </div>
    </div>
    <div class="content-block">
      <div class="list-block">
        <div class="termes">
          <span class="desc-red">1 month intensive</span>
          <span class="desc">In this package is included:</span>
        </div>
        <ul class="list">
          <li><p>4 weekly online sessions of 60 minutes each, every week
            there will be 1 session</p></li>
          <li><p>Guidance on choosing and setting your intention. Setting an
            intention can be very helpful in your daily life, it gives you a
            clear sense of direction and focus</p></li>
          <li><p>1 yoga or meditation video that can be your daily practice,
            together we will choose the duration, the level of difficulty,
            depending on your experience and intention for this period</p></li>
          <li><p>FREE 1 month access to our online teaching library</p></li>
          <li><p>It takes 40 days to break a habit, this program could be a
            great start to break your habits!</p></li>
        </ul>
        <div class="price-block">
          <span class="desc">Price for this package</span>
          <span class="price">$ 500.00</span>
        </div>
      </div>
      <div class="list-block">
        <div class="termes">
          <span class="desc-red">3 month intensive</span>
          <span class="desc">In this package is included:</span>
        </div>
        <ul class="list">
          <li><p>6 two-weekly online sessions of 60 minutes each, every 2
            weeks there will be 1 session</p></li>
          <li><p>Guidance on choosing and setting your intention. Setting an
            intention can be very helpful in your daily life, it gives you a
            clear sense of direction and focus</p></li>
          <li><p>2 yoga or meditation video that can be your daily practice,
            together we will choose the duration, the level of difficulty,
            depending on your experience and intention for this period.
          </p></li>
          <li><p>FREE 3 month access to our online teaching library</p></li>
          <li><p>It takes 90 days to create a new habit, this program could be
            a great start to create new habits!</p></li>
        </ul>
        <div class="price-block">
          <span class="desc">Price for this package</span>
          <span class="price">$ 750.00</span>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "img_bg_block" %}
<!--<div class="personal-bg-block">-->
  <!--<img src="{{ 'personal-bg-block.jpg' | asset_url | img_tag }}" alt="" class="responsify" data-focus-left=".53" data-focus-top=".06" data-focus-right=".71" data-focus-bottom=".45">-->
<!--</div>-->
<div class="quote-personal-block">
  <div class="container  container-quote">
    <div class="title-block">
      <div class="desc"><p><span class="icon-quote">“</span> At age 51 my life was characterized by protective walls around my heart
        and one which allowed for exterior forces to pull me this way and that as I
        had no real rooted stability in my own core truths. Then I found Dennis. In
        just 100 days my life started to shape shift, not by magical, mystical forces
        but rather by my own intentionality. What I learned in those 100 days was
        the manifesting power of my own creative potential to cultivate the life I
        want to live, to trust in a deeper more expansive wisdom than my own
        mind, and to surrender to the truth arising from the inner voice of heart
        and soul.
      </p>
        <p>
          Thank you Dennis for the patience, guidance and unbelievable love and
          support during the 3-month intensive program. I am forever grateful for
          the freedom and vitality that is arising out of the practice of cultivating a
          deeply rooted intentional life. I hope this testimonial will help those
          reading it to say YES to the program and through it learning to walk anew
          on your own two feet!<span class="icon-quote">”</span></p>
      </div>
      <p class="autor">— JENNIFER —</p>
    </div>
  </div>
</div>