{% include "header_block" %}
<div class="block-scroll cancellation-policy-block default">
  <div class="container container-terms">
    <div class="row">
      {{ page.content }}
    </div>
  </div>
  {% include "scroll_up_block" %}
</div>
{% include "ready_form_block" %}