{% include "header_block" %}
<div id="into-who-are-we-block" class="block-scroll into-who-are-we-block default" >
  <div class="container container-terms">
    <div class="row">
      {{ page.content }}
    </div>
  </div>
  {% include "scroll_up_block" %}
</div>
<div  class="who-are-we-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-xs-12 text-block">
        <div class="content-block">
          <h2><b>Dennis Notten,</b><br>M. A.</h2>
          <div class="desc">
            <p><b>Dennis Notten is the spiritual guide and founder of SacredJourney.Earth. He is a certified KRI Kundalini Yoga and Meditation teacher, a Theta Healer, a Reiki Master, and had several years of experience of running his own healing centre in the Sacred Valley of the Incas in Peru.</b></p>
            <p>Before committing to the path of healing, Dennis was a professional bassoonist in some of the world’s leading orchestras; he uses his musical gifts in the ceremonial setting, working with sounds as an energy healing modality.</p>
            <p>For the past four years he has been learning from and working with the Yawanawá tribe in the Brazilian Amazon. Padrinho Alfredo, the spiritual leader of the Santo Daime, granted Dennis the blessing to work with the medicine of the Santo Daime in his personal work. He is uniquely suited to bridge the gap between Indigenous people and the West, as he is a Westerner who has spent extensive time in the Amazon learning from Indigenous leaders, and his work transcends such boundaries.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-xs-12 img-block" >
        <img src="{{ '09.png' | asset_url | img_tag }}" alt="" >
      </div>
    </div>
  </div>
</div>
<div  class="who-are-we-block">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-xs-12 img-block" >
        <img src="{{ 'who-are-we-kristen.jpg' | asset_url | img_tag }}" alt="" >
      </div>
      <div class="col-sm-6 col-xs-12 text-block">
        <div class="content-block">
          <h2><b>Kristen Appenrodt,</b><br>M. A.</h2>
          <div class="desc">
            <p><b>Kristen is honored to be living in a time such as now—where consciousness is rising, hearts are opening, and people are gathering together to realize who they are, and to vision what is possible.</b></p>
            <p>Kristen received her Masters Degree in Transpersonal Psychology with a specialization in Creative Expression. During this time, she focused her studies on the rise of the feminine energy, and the wisdom of the womb and the emotional body. Kristen is a Yoga Alliance Certified Yoga Teacher practicing the lineages of both Hatha and Kundalini Yoga. She shares Reiki, aromatherapy, dance therapy, and other modalities, and deeply enjoys and respects the art of living well: self-care, balance, high vibrational and nourishing food/drink, daily practice, music, dance, and friendship. </p>
            <p>Kristen has been profoundly moved by the Tantric tradition and believes that much of our work as women at this time is in reshaping our relationship to our sexuality and to our femininity. Releasing shame and trauma around sexuality through breathwork and other somatic release practices, honoring the menstrual cycle and its wisdom, and ultimately, reclaiming free expression, pleasure, and joy. In 2016, Kristen spent 2 months in the Amazon Rainforest of Brazil, living with the Indigenous tribe, the Yawanaw? Indians. It was during this time that she completed a 1 month dieta working with the prayers of the then 103 shaman, TaTa. Kristen is passionate about reconnecting with the ancient wisdom of both the forest and the indigenous ways, and believes that fostering the connection to the Earth is paramount to our return home to our self. For only when we come back home to the rhythms, cycles and wisdom of the earth, do we have a better understanding of ourselves as people, especially as women.</p>
            <p>“It all started when my yoga teacher asked the question, "What allows you to receive?" In that sweet space of savasana, those words melted into my heart, and touched the parts of me that had been denied the space to feel, to receive, and to truly be seen. There on my mat, I began my journey home to my heart, to the longings of my Soul, and to the softness and wildness of my femininity. A journey that has led me from the world of business and the streets of San Francisco, to the Sacred Valley in Peru, the Himalayan Mountains in India, the yoga studios in Bali, the tantric communities in Thailand, the Amazon Rainforest in Brazil, and home to The Art of Sacred Living; to my own Sacred Journey here on Earth.”~ KA</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "ready_form_block" %}