{% include "header_block" %}
<div  class="intro-testimonials-block block-scroll  default">
  <div class="container  container-quote">
    <div class="row">
      {{ page.content }}
    </div>
  </div>
  {% include "scroll_up_block" %}
</div>
{% include "ready_form_block" %}
<div  class="intro-testimonials-block">
  <div class="container  container-quote">
    <div class="row">
      <div class="title-block">
        <div class="desc"><p><span class="icon-quote">“</span>I have experienced two retreats with Dennis. Both were wonderful experiences. His loving care is as good as it gets and he knows what he is …I didn’t have the time and energy to share anything after our experience, but I wanted to say that I have never felt that good ! It was the most beautiful experience I’ve ever had. It was indescribable. It was so so so so beautiful. I’ve seen and I’ve lived such great things and felt so much happiness and love. And I want to thank you for this! I am so grateful to have been able to live this with you. Thank you so so much.</p>
          <p>I really loved those moments of silence, the talking stick, the little community you created by bringing us all together and by taking the time to explain us everything in detail, to reassure us before living our experiences. I felt very secure and confident. My experience was really AMAZINGLY BEAUTIFUL. Thank you again! Thank you very much for everything! I look forward to see you again. <span class="icon-quote">”</span></p>
        </div>
        <p class="autor">-  Victoria, Belgium   -</p>
      </div>
      <div class="title-block">
        <div class="desc"><p><span class="icon-quote">“</span>There are no words to express my deep deep deep gratitude for allowing me to go through such a process... The sacred space you created was a womb where one felt safe to be reborn... All I can do now is live up to what was given to me.  Thank you for taking the time to talk and listen before and after the Journey - it was very much appreciated! You are truly a beacon of Light and it was pure joy to meet you and experience the love you share for each other and for the rest of humankind.<span class="icon-quote">”</span></p>
        </div>
        <p class="autor">-  Heather, BELGIUM  -</p>
      </div>
      <div class="title-block">
        <div class="desc"><p><span class="icon-quote">“</span>The retreat I enjoyed with Dennis was powerful and deep.  Exactly the kind of trans-formative work I was looking for, the kind that really shifts you in ways that help you to re-create your life with more beauty and peace.  He has a great team working with him and all of my needs were met wonderfully.  The support made me safe to really honor my process and “let go” of resistance so that I could really heal. The work was also fun and enjoyable!!!  Dennis brings a great Spirit to the work, so that healing can be a celebration, and this was such a refreshing approach. I know my life is going to move into deeper alignment with my True Nature and am so excited!<span class="icon-quote">”</span></p>
        </div>
        <p class="autor">-  Tim M, Baltimore, MD  -</p>
      </div>
    </div>
  </div>
</div>
<div  class="testimonials-options-block" style="background-image :url('{{ 'testimonials-quote.jpg' | asset_url | img_tag }}')">
  <div class="container-fluid container-quote">
    <div class="row">
      <div class="content-block">
        <div class="title-block">
          <div class="desc"><p><span class="icon-quote">“</span>At age 51 my life was characterized by protective walls around my heart and one which allowed for exterior forces to pull me this way and that as I had no real rooted stability in my own core truths. Then I found Dennis. In just 100 days my life started to shape shift, not by magical, mystical forces but rather by my own intentionality. What I learned in those 100 days was the manifesting power of my own creative potential to cultivate the life I want to live, to trust in a deeper more expansive wisdom than my own mind, and to surrender to the truth arising from the inner voice of heart and soul. Thank you Dennis for the patience, guidance and unbelievable love and support during the 3-month intensive program. I am forever grateful for the freedom and vitality that is arising out of the practice of cultivating a deeply rooted intentional life. I hope this testimonial will help those reading it to say YES to the program and through it learning to walk anew on your own two feet! <span class="icon-quote">”</span></p>
          </div>
          <p class="autor">-  Heather, BELGIUM  -</p>
        </div>
        <div class="title-block">
          <div class="desc"><p><span class="icon-quote">“</span>Thank you so very much for an amazing retreat. It was an unbelievable experience, full of happiness, love and most importantly; healing. I have done a few retreats before but this past weekend was like no other. I met an amazing group of people that I shared a lovely connection with. It made me realize many things about my life thatIi had no idea were happening. It taught me many lessons that i cannot wait to put into practice in my everyday life. I have no words to describe the gratitude that I feel for you guys and for the sacred medicine. I can only hope that I can share all this love with everyone that crosses my path.  Thank you all for this wonderful experience. Much love and gratitude! Love you guys! <span class="icon-quote">”</span></p>
          </div>
          <p class="autor">-  Erick, MEXICO  -</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div  class="intro-testimonials-block">
  <div class="container  container-quote">
    <div class="row">
      <div class="title-block">
        <div class="desc"><p><span class="icon-quote">“</span>As a plant biologist I have a scientific view on the world; I consider myself as a carbon based entity consisting of stardust, built by the force of Evolution and carved by the power of DNA. Dennis’ ceremonies challenged and enriched those views. His perfect timing of the acoustic background and his colourful narratives made me experience, for the first time, somethings that I could describe as divine. It shocked my comfortably set up understanding about my position in the universe to a certain extent. His eye for the details, his loving care and his professionally performed songs brought me over the edge of the universe, back to my mother’s womb, onto the lap of Pacha Mama. The sessions with Dennis showed me my place on this planet and reminded me that every animal, Funghi, plant and bacteria is part of this family. The appreciation I felt towards life and this beautiful place in this universe still resonate within me until this day.</p>
          <p>The 21th century is the époque of lack of reflection and increasing greed. People’s minds are distracted by money, power and luxury. Our behaviour devastates our planet and threatens our next generations and our non-human sisters and brothers. What we need is a change in consciousness. And I am sure, if every being on this planet could take part in one of Dennis’ ceremonies, opening the mind, to grow personally and undergo a mindful evolution, this planet would be a much better place. No ceremony has ever come close to the quality of services offered by Dennis. Thank you Dennis for these wonderful experiences!<span class="icon-quote">”</span></p>
        </div>
        <p class="autor">-  Mark Machler, University of Zürich, Switzerland  -</p>
      </div>
      <div class="title-block">
        <div class="desc"><p><span class="icon-quote">“</span>Time with Dennis was absolutely magical. I love the place itself; it is beautiful and peacefully designed. I love everything! I actually have no idea how it is possible to have so many amazing healers in one place. Combination of sacred ceremonies led in a graceful, deep way by Dennis, the healings he is offering, with deep transformative results. The team was very supportive in all ways possible. It’s a perfect place if you want to support your internal process of healing and transformation on all possible levels- body, heart and soul. After two weeks with SacredJourney.Earth my life has changed completely on all possible levels.<span class="icon-quote">”</span></p>
        </div>
        <p class="autor">-  Olga Mieszezanek , Poland  -</p>
      </div>
      <div class="title-block">
        <div class="desc"><p><span class="icon-quote">“</span>The week I spent with SacredJourney.Earth was one of my most enjoyable experiences, in the middle of a magical natural environment, with the infectious love and care of Dennis and his team. I had profound and revealing experiences during the sacred Ceremonies, exploring myself further. The retreat also opened up a new path for me towards healthier nutrition with raw food which I am now starting to experiment in my kitchen as well! A rejuvenation of mind, body and soul in a heavenly setting, one only can ask for more of it :)<span class="icon-quote">”</span></p>
        </div>
        <p class="autor">-  Hande, Lima-Istanbul  -</p>
      </div>
      <div class="title-block">
        <div class="desc"><p><span class="icon-quote">“</span>Dennis has excellent bedside manners & took wonderful care of me. I struggled during the stay with unresolved issues which the treatment brought up but they were always there to help me to move past unpleasant moments. The emphasis on healing & love is beautiful and it created a strong bond within the group. I would love to do further works with Dennis and would have no problem in recommending his healing works to anyone.<span class="icon-quote">”</span></p>
        </div>
        <p class="autor">-  Richard, UK  -</p>
      </div>
    </div>
  </div>
</div>
{% include "img_bg_block" with  { enabled: true, id : 1  }  %}
<div  class="intro-testimonials-block">
  <div class="container  container-quote">
    <div class="row">
      <div class="title-block">
        <div class="desc"><p><span class="icon-quote">“</span>When I first met Dennis he was one of the helpers and musicians present at a therapeutic workshop. We got to chat and we talked about health care and the importance that therapies in any form, are in alignment with the client and his needs. Whether if it is about healing the body, the emotions, family ties, or the processing of traumatic events… It is important that things can come full circle again.</p>
          <p>This pleasant conversation led me to follow 2 retreats with Dennis himself. As a medical social worker and body-oriented psychotherapist with years of experience as a counselor and as a client, I am quite critical on how clients are supposed to be “treated”. During the retreats I got to know Dennis as a warm, involved, inquisitive, professional and sensitive person. His music, yoga, breathing exercises, knowledge, experience and healings have helped me deeply to evolve on my path. I am therefore confident that SacredJourney.Earth will be a place for more people to find wholeness inside of themselves. <span class="icon-quote">”</span></p>
        </div>
        <p class="autor">-  Daan van K, Netherlands  -</p>
      </div>
      <div class="title-block">
        <div class="desc">
          <p><span class="icon-quote">“</span>I attended a retreat with Dennis. The experience was rich and the people who served the course were wonderfully giving and professional, attending to my every need. My questions and fears were taken seriously by the leader, Dennis, who answered my many emails compassionately and helpfully. Dennis truly lives what he teaches and he brings an holistic approach to his retreats. He presses fresh juice every day, does yoga and writes music. He is intelligent, caring and full of fun and with a depth that I really connected with. He is dedicated, punctual and a strong leader (being strict if he needs to).</p>
          <p>His ability to play beautiful music and to focus that music on to each individual was a huge part of the retreat and make it very special for me, as did the individual and group healing sessions which were very moving and helped us connect as a group. The work is taken very seriously by Dennis and his team. Everything is well planned and explained. Before each ceremony everyone can share their thoughts and then at the end we share our experience, this was vital to help us stay open and connect to the group. I rate Dennis very highly and look forward to visiting another time. I am certain that SacredJourney.Earth will be a great success with Dennis in charge.<span class="icon-quote">”</span></p>
        </div>
        <p class="autor">-  Jon Steele, Wales   -</p>
      </div>
      <div class="title-block">
        <div class="desc">
          <p><span class="icon-quote">“</span>After 2 beautiful retreats in other parts of the world, I met Dennis and Kristen in Europe. I was blessed to experience 2 ceremonies under their guidance.  What I missed during my retreats in Peru and some others in my country, I found with Dennis and Kristen: their fully presence for every participant. It is the little details that makes a big difference for me. The practical information a few days before the retreat to arrive well prepared. The warm welcome while arriving at the space. Kristen her beautiful female presence and Dennis his calm and grounded presence. I appreciated very much the time Dennis took to talk about the Sacred Ceremony, to inform us about the preparation, about the history, about what can or can not happen, some guidelines for our own safety. I really felt safe and at the right place in the right time. </p>
          <p>What a journey it was. Dennis and Kristen were always available when needed. It was like they could exactly feel what I needed at what time. They were present, but they were not interfering my process if not needed. They felt exactly when to leave and let me continue my own learning process. And for that I am incredibly grateful. Kristen her female presence will never be unforgotten. She touched my heart deeply. And I will never forget when Dennis came to help me when I was going through a difficult time. He 'unlocked' my heart to see the truth. So grateful for this Dennis. This will always be a hug turning point in my life process.</p>
          <p>And what I also was very grateful for, was the help of Dennis after the ceremony. I experienced a few problems after the ceremony because of fatigue and Dennis was fully present for me. He did not left my side till he knew if had a good place to rest. And his availability after the retreat was also a great gift as it came to the integration part. Dennis and Kristen never left an email unanswered and took every question seriously. And for me this makes the experience with them both so worth it! Love you Dennis and Kristen! You are beautiful souls! I hope you can keep on helping people with your guidance! I hope to meet you again soon, wherever in the world it may be.<span class="icon-quote">”</span></p>
        </div>
        <p class="autor">-  Leen de Witte, BELGIUM  -</p>
      </div>
    </div>
  </div>
</div>