{% include "header_block" %}
<div id="intro-video-block" class="block-scroll intro-video-block default" >
  <div class="container">
    <div class="row">
      <div class="content-block">
        {{ page.content }}
      </div>
    </div>
  </div>
  {% include "scroll_up_block" %}
</div>