{% comment %}
ready-form-block for several pages
{% endcomment %}
{% if page.id == 28920 %}
<div class="ready-terms-form-block" style="background-image :url('{{ 'ready-form-connect-block.jpg' | asset_url | img_tag }}')">
  <div class="container container-form">
    <div class="row">
      <h2 class="title-block">Ready to start your Sacred Journey?</h2>
      <div class="desc"><p>Sign up to receive a FREE meditation video and take the first step….</p>
        <p>We keep your email private.</p></div>
      <form class="yawanawa-form" action="#">
        <div class="form-item-pair">
          <div class="form-item">
            <input type="text" name="search" id="upload" placeholder="Your name">
          </div>
          <div class="form-item">
            <input type="text" name="search" id="upload" placeholder="Your email">
          </div>
        </div>
        <div class="form-actions">
          <button  class="btn">Sign Up</button>
        </div>
      </form>
      <script type="text/javascript" src="https://form.jotform.ca/jsform/70726609141252"></script>
    </div>
  </div>
</div>
{% elsif page.id == 28532 %}
<div class="ready-terms-form-block" style="background-image :url('{{ 'ready-form-connect-block.jpg' | asset_url | img_tag }}')">
  <div class="container container-form">
    <div class="row">
      <h2 class="title-block">Ready to start your Sacred Journey?</h2>
      <div class="desc"><p>Sign up to receive a FREE meditation video and take the first step….</p>
        <p>We keep your email private.</p></div>
      <form class="yawanawa-form" action="#">
        <div class="form-item-pair">
          <div class="form-item">
            <input type="text" name="search" id="upload" placeholder="Your name">
          </div>
          <div class="form-item">
            <input type="text" name="search" id="upload" placeholder="Your email">
          </div>
        </div>
        <div class="form-actions">
          <button  class="btn">Sign Up</button>
        </div>
      </form>
      <script type="text/javascript" src="https://form.jotform.ca/jsform/70726609141252"></script>
    </div>
  </div>
</div>
{% elsif page.id == 53265 %}
<div class="ready-form-mission-block" style="background-image :url('{{ 'ready-form-connect-block.jpg' | asset_url | img_tag }}')">
  <div class="container container-form">
    <div class="row">
      <h2 class="title-block">Ready to start your Sacred Journey?</h2>
      <div class="desc"><p>Sign up to receive a FREE meditation video and take the first step….</p>
        <p>We keep your email private.</p></div>
      <form class="yawanawa-form" action="#">
        <div class="form-item-pair">
          <div class="form-item">
            <input type="text" name="search" id="upload" placeholder="Your name">
          </div>
          <div class="form-item">
            <input type="text" name="search" id="upload" placeholder="Your email">
          </div>
        </div>
        <div class="form-actions">
          <button  class="btn">Sign Up</button>
        </div>
      </form>
      <script type="text/javascript" src="https://form.jotform.ca/jsform/70726609141252"></script>
    </div>
  </div>
</div>
{% elsif page.id == 53266 %}
<div class="ready-form-meds-block">
  <div class="container container-form">
    <div class="row">
      <h2 class="title-block">Want to read more?</h2>
      <div class="desc"><p>Subscribe to our mailing list, and hear about the latest posts. </p></div>
      <form class="yawanawa-form" action="#">
        <div class="form-item-pair">
          <div class="form-item">
            <input type="text" name="search" id="upload" placeholder="Your name">
          </div>
          <div class="form-item">
            <input type="text" name="search" id="upload" placeholder="Your email">
          </div>
        </div>
        <div class="form-actions">
          <button  class="btn">Sign Up</button>
        </div>
      </form>
      <script type="text/javascript" src="https://form.jotform.ca/jsform/70726609141252"></script>
    </div>
  </div>
</div>
{% else %}
<div class="ready-terms-form-block" style="background-image :url('{{ 'ready-form-connect-block.jpg' | asset_url | img_tag }}')">
  <div class="container container-form">
    <div class="row">
      <h2 class="title-block">Ready to start your Sacred Journey?</h2>
      <div class="desc"><p>Sign up to receive a FREE meditation video and take the first step….</p>
        <p>We keep your email private.</p></div>
      <form class="yawanawa-form" action="#">
        <div class="form-item-pair">
          <div class="form-item">
            <input type="text" name="search" id="upload" placeholder="Your name">
          </div>
          <div class="form-item">
            <input type="text" name="search" id="upload" placeholder="Your email">
          </div>
        </div>
        <div class="form-actions">
          <button  class="btn">Sign Up</button>
        </div>
      </form>
      <script type="text/javascript" src="https://form.jotform.ca/jsform/70726609141252"></script>
    </div>
  </div>
</div>
{% endif %}