<div class="sales">
  <div class="container">
    <div class="sales-content">
      <div class="grid">
        <div class="col-md-2-5">
          <h1>{{ sales_page.title }}</h1>
          <div class="bar"></div>
          {{ sales_page.body }}
        </div>
        <div class="col-md-3-5">
          {% include "video" with sales_page.video, color: settings.color_primary, thumbnail: sales_page.thumbnail_url %}
        </div>
      </div>
    </div>
  </div>
  {% include "offer_pricing" %}
</div>