<div class="scroll-up-block">
  <a class="link-scroll-up page-scroll" href="#header-block">
        <span class="icon-svg icon icon-btn-up" style="background-image :url('{{ 'logo.svg' | asset_url | img_tag }}')">
                      <!--<img src="{{ 'btn-up.svg' | asset_url | img_tag }}" alt="button up">-->
          <!--<svg class="icon icon-btn-up">-->
            <!--<use xlink:href="img/icon/sprite.svg#btn-up"></use>-->
            <!--<img src="{{ 'btn-up.svg' | asset_url | img_tag }}" alt="button up">-->
            <!--<use xlink:href="{{ 'btn-up.svg' | asset_url | img_tag }}"></use>-->
          <!--</svg>-->
        </span>
  </a>
</div>