<div class="scroll-bottom-block">
{% if page.id == 36129 %}
<a class="scroll-bottom page-scroll" href="#packages-personal-block" style="background-image :url('{{ 'icon-scroll-bot.png' | asset_url | img_tag }}')">scroll bottom</a>
{% elsif page.id == 46908 %}
<a class="scroll-bottom page-scroll" href="#how-maps-block" style="background-image :url('{{ 'icon-scroll-bot.png' | asset_url | img_tag }}')">scroll bottom</a>
{% elsif page.id == 46909 %}
<a class="scroll-bottom page-scroll" href="#how-maps-yawa-block" style="background-image :url('{{ 'icon-scroll-bot.png' | asset_url | img_tag }}')">scroll bottom</a>
{% endif %}
</div>